@import  "../_mixin.scss", "../_variables.scss"; 

body.login-action-login,
body.login-action-password-protected-login {
	@include radial_gradient($red,darken($red,40%));
}

.login {
	form {
		/*
font-family: $f-primary;
		margin-left: 8px;
		padding: 26px 24px 46px;
		font-weight: normal;
		background: #fff;
		border: none;
		-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
		box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
		//@include outer-glow();
		@include trans-bg(#FFFFFF,0.2);
		@include border-radius(3px);
*/
		border: none;
		-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
	  	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
	  	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
		/* fallback */ 
		background-color: transparent;  
		/* Safari 5.1, Chrome 10+ */ 
		background: -webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
		/* Firefox 3.6+ */ 
		background: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); 
		/* IE 10 */ 
		background: -ms-linear-gradient(top, #eb5a47, transparent); 
		/* Opera 11.10+ */ 
		background: -o-linear-gradient(top, #eb5a47, transparent);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity:1.0;
		
		/*
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
*/
	}
	
	label {
		color: white;
		text-transform: uppercase;
		font-size: 0.8em;
		@include text_shadow($shadow_x:1px, $shadow_y:1px, $shadow_rad:3px, $shadow_color:rgba(0,0,0,.3));
	}
	
	#nav,
	#backtoblog {
		a {
			color: white !important;
			text-shadow: none;
			text-decoration: none;
			
			&:hover {
				color: $yellow !important;
			}
			
		}
	}	
}

.wp-core-ui {
	.button, 
	.button-primary, 
	.button-large {
		background: $red;
		border: none;
		@include bevel();
		
		&:hover {
			background: $red;
			border: none;
			@include bevel($reverse:true);
		}
		
	}
}
/*
tr.category-host-field-marker,
tr.category-parent-field-marker {
	// tr element typically
	//position: relative;
	
	th {
		position: relative;
		&:before {
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 0px;
			line-height: 15px; 
			//width: 25px;
			padding: 0 10px;
			font-size: .8em;
			text-align: center;
			-webkit-border-top-right-radius: 5px;
			-moz-border-top-right-radius: 5px;
			-khtml-border-top-right-radius:5px;
			border-top-right-radius:5px;
			color: white;
			text-shadow: none;
		}
	}
}

.category-host-field-marker  {
	border: 1px solid red;
	th {
		&:before {
			content: "Host Only";
			background-color: red;
		}
	}
}

.category-parent-field-marker {
	border: 1px solid blue;
	th {
		&:before {
			content: "Parent Only";
			background-color: blue;
		}
	}
}
*/