body.login-action-login,
body.login-action-password-protected-login {
  background: #eb5a47;
  background: -moz-radial-gradient(center, ellipse cover, #eb5a47 0%, #5c130a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #eb5a47), color-stop(100%, #5c130a));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #eb5a47 0%, #5c130a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #eb5a47 0%, #5c130a 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #eb5a47 0%, #5c130a 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #eb5a47 0%, #5c130a 100%);
  /* W3C */ }

.login form {
  		/*
  font-family: $f-primary;
  		margin-left: 8px;
  		padding: 26px 24px 46px;
  		font-weight: normal;
  		background: #fff;
  		border: none;
  		-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
  		box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
  		//@include outer-glow();
  		@include trans-bg(#FFFFFF,0.2);
  		@include border-radius(3px);
  */
  border: none;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
  /* fallback */
  background-color: transparent;
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  /* IE 10 */
  background: -ms-linear-gradient(top, #eb5a47, transparent);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #eb5a47, transparent);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1.0;
  		/*
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
         -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
              box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  */ }
.login label {
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); }
.login #nav a,
.login #backtoblog a {
  color: white !important;
  text-shadow: none;
  text-decoration: none; }
  .login #nav a:hover,
  .login #backtoblog a:hover {
    color: #ffc925 !important; }

.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-large {
  background: #eb5a47;
  border: none;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(0, 0, 0, 0.3); }
  .wp-core-ui .button:hover,
  .wp-core-ui .button-primary:hover,
  .wp-core-ui .button-large:hover {
    background: #eb5a47;
    border: none;
    -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.6), inset 0 1px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.6), inset 0 1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.6), inset 0 1px 0 rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(0, 0, 0, 0.3); }

/*
tr.category-host-field-marker,
tr.category-parent-field-marker {
	// tr element typically
	//position: relative;
	
	th {
		position: relative;
		&:before {
			display: inline-block;
			position: absolute;
			left: 0;
			bottom: 0px;
			line-height: 15px; 
			//width: 25px;
			padding: 0 10px;
			font-size: .8em;
			text-align: center;
			-webkit-border-top-right-radius: 5px;
			-moz-border-top-right-radius: 5px;
			-khtml-border-top-right-radius:5px;
			border-top-right-radius:5px;
			color: white;
			text-shadow: none;
		}
	}
}

.category-host-field-marker  {
	border: 1px solid red;
	th {
		&:before {
			content: "Host Only";
			background-color: red;
		}
	}
}

.category-parent-field-marker {
	border: 1px solid blue;
	th {
		&:before {
			content: "Parent Only";
			background-color: blue;
		}
	}
}
*/
