.breadcrumb_wrapper {
	min-height: 0;
	padding: 8px 0;
	
	@include break(mobile) {
		display: none;
	}
}

.breadcrumbs {
	width: $desk;
	padding: 0;
	line-height: 30px;
	margin: 0 auto;
	color: #ffffff;
	font-size: 12px;
	
	@include break(tablet) {
		width: 95%;
		padding: 0 2.5%;
	}
	
	.woocommerce-breadcrumb {
		@include col(3,4,0);
		color: white !important;
		font-size: 1.2em !important;
		margin: 0 !important;
		
		li {
			display: inline-block;
			line-height: 30px;
			padding: 0 10px;
		//	margin-right: 25px;
			font-weight: 400;
			&:first-child {
				padding-left: 0;
			}
		}
		
		a {
			color: white !important;
			//font-size: 1.2em !important;
		}
	}
	
	color: lighten($red,15%) !important;
	& > a {
		color: lighten($red,15%) !important;
		font-size: 1.2em !important;
		margin: 0 !important;
		display: inline-block;
		line-height: 30px;
		padding: 0 10px;
		margin: 0 !important;
		font-weight: 400;
		&:first-child {
			padding-left: 0;
		}
		
		&:last-child {
			color: white !important;
		}
	}

}
/*


.breadcrumbs {
  width: $desk;
  margin: 0 auto;
  padding-top: 10px;
  color: #ffffff;
  font-size: 12px;
  font-family: $f-primary, sans-serif;
  a {
    font-size: 12px;
    font-family: $f-primary, sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    &:hover {
      font-size: 12px;
      font-family: $f-primary, sans-serif;
      text-decoration: underline;
    }
  }
}
*/