$menu-height: 65px;

.dropdown-header {
	background: white;
	max-height: $menu-height;
	width: 90%;
	line-height: $menu-height;
	position: relative;
	cursor: pointer;
	padding: 0 20px;
	font-size: 1.3em;
	font-weight: 700;
	font-style: italic;
	color: #565656;
	margin: 5px 0;
	
	&:before {
		content: "";
		background: $red;
		position: absolute;
		top: 7px;
		right: 7px;
		height: $menu-height - 14px;
		width: $menu-height - 14px;
	}
	
	&:after {
		font-family: 'ModernPictogramsNormal';
		content: "/";
		position: absolute;
		top: 0px;
		right: 25px;
		font-size: 28px;
		color: #ffffff;
		font-style: normal;
	}
	
	&.active {
		max-height: (($menu-height * 6) + 12);
		overflow: auto;
		&:after {
			content: "-";
		}
	}
	
	@include break(mobile) {
		font-size: 1em;
	}
	
}

ul.dropdown-menu {
	
	background: white;
	position: absolute;
	width: 90%;
	z-index: 20;
	display: none;
	max-height: 300px;
	overflow: auto;
	
	li {
		list-style-type: none;
		line-height: $menu-height;
		background-position: 95% top;
		background-repeat: no-repeat;
		background-size: 25%;
		@include transitions();
		
		&:hover {
			@include trans-bg($yellow,0.3);
			background-position: 95% -15px;
			
		}
				
		&:last-child {
			a {
				border-bottom: none;
			}
		}
		
		a {
			line-height: $menu-height;
			display: block;
			padding: 0 20px;
			font-size: 1.3em;
			font-weight: 700;
			font-style: italic;
			color: #565656;
			border-bottom: 1px solid lighten($grey,20%);
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	
}