.icon {
	position: relative;
	
	&:before {
		display: block;
		font-family: 'ModernPictogramsNormal';
		font-size: 4em;
		position: absolute;
		color: #ffffff;
		//background-color: #f0f0f0;
		width: 50px;
		height: 50px;
		margin-left: 0px;
		left: 15px;
		//margin-top: 2px;
		line-height: 40px;
		text-align: center;
		font-weight: 300;
	}
	
	&.circle {
		&:before {
			background-color: $dark-grey;
			width: 60px;
			height: 60px;
			margin-left: -15px;
			//margin-top: 2px;
			line-height: 60px;
			text-align: center;
			@include border-radius(50%);
		}
	}
	
	&.camera {
		&:before {
			content: "A";
		}
	}
	
	&.book {
		&:before {
			content: "B";
		}
	}
	
	&.compactdisk {
		&:before {
			content:"C";
		}
	}
	
	&.download {
		&:before {
			content: "D";
		}
	}
	
	&.eye {
		&:before {
			content: "E";
		}
	}
	
	&.facebook {
		&:before {
			content: "F";
		}
	}
	
	&.facebook2 {
		&:before {
			content: "G";
		}
	}
	
	&.video-camera {
		&:before {
			content: "H";
		}
	}
	
	&.trash-bin {
		&:before {
			content: "I";
		}
	}
	
	&.pricetag {
		&:before {
			content: "J";
		}
	}
	
	&.document,
	&.bloggg {
		&:before {
			content: "K";
		}
	}
	
	&.thumbs-down {
		&:before {
			content: "L";
		}
	}
	
	&.ipod {
		&:before {
			content: "M";
		}
	}
	
	&.cellphone {
		&:before {
			content: "N";
		}
	}
	
	&.iphone {
		&:before {
			content: "O";
		}
	}
	
	&.play-button {
		&:before {
			content: "P";
		}
	}
	
	&.ipad {
		&:before {
			content: "Q";
		}
	}
	
	&.refresh {
		&:before {
			content: "R";
		}
	}
	
	&.projector-screen {
		&:before {
			content: "S";
		}
	}
	
	&.twitter {
		&:before {
			content: "T";
		}
	}
	
	&.twitter2 {
		&:before {
			content: "U";
		}
	}
		
	&.edit {
		&:before {
			content: "V";
		}
	}
	
	&.windows {
		&:before {
			content: "W";
		}
	}
	
	&.close-x {
		&:before {
			content: "X";
		}
	}
	
	&.megaphone {
		&:before {
			content: "Y";
		}
	}
	
	&.text {
		&:before {
			content: "Z";
		}
	}
	
	&.newspaper {
		&:before {
			content: "a";
		}
	}
	
	&.chat {
		&:before {
			content: "b";
		}
	}
	
	&.printer {
		&:before {
			content: "d";
		}
	}
	
	&.man {
		&:before {
			content: "f";
		}
	}
	
	&.people {
		&:before {
			content: "g";
		}
	}
	
	&.cart {
		&:before {
			content: "i";
		}
	}
	
	&.heart {
		&:before {
			content: "j";
		}
	}
	
	&.woman {
		&:before {
			content: "k";
		}
	}
	
	&.thumbsup {
		&:before {
			content: "l";
		}
	}
	
	&.mail {
		&:before {
			content: "m";
		}
	}
	
	&.padlock {
		&:before {
			content: "n";
		}
	}
	
	&.home {
		&:before {
			display: none;
			@include break(mobile) {
				display: block;
			}
			content: "p";
		}
	}
	
	&.search {
		&:before {
			content: "s";
		}
	}

	&.contract {
		&:before {
			content: "u";
		}
	}

	&.expand {
		&:before {
			content: "v";
		}
	}
	
	&.world {
		&:before {
			content: "w";
		}
	}
	
	&.close2 {
		&:before {
			content: "x";
		}
	}
	
	&.zoom-in {
		&:before {
			content:"y";
		}
	}
	
	&.zoom-out {
		&:before {
			content:"z";
		}
	}
	
	&.volume-down {
		&:before {
			content:"1";
		}
	}
	
	&.volume-up {
		&:before {
			content:"2";
		}
	}
	
	&.calendar {
		&:before {
			content:"3";
		}
	}
	
	&.list {
		&:before {
			content:"4";
		}
	}
	
	&.graph-line {
		&:before {
			content:"6";
		}
	}
	
	&.graph-bar {
		&:before {
			content:"7";
		}
	}
	
	&.graph-pie {
		&:before {
			content:"8";
		}
	}
	
	&.bell {
		&:before {
			content:"9";
		}
	}
	
	&.speaker {
		&:before {
			content:"0";
		}
	}
	
	&.info {
		&:before {
			content:"=";
		}
	}
	
	&.notice {
		&:before {
			content:"!";
		}
	}
	
	&.at-sign {
		&:before {
			content:"@";
		}
	}
	
	&.cash {
		&:before {
			content:"#";
		}
	}
	
	&.moneybag {
		&:before {
			content:"$";
		}
	}
	
	&.checkmark {
		&:before {
			content:"%";
		}
	}
	
	&.rss {
		&:before {
			content:"^";
		}
	}
	
	&.star {
		&:before {
			content:"*";
		}
	}
	
	&.tools {
		&:before {
			content:"(";
		}
	}
	
	&.ribbon {
		&:before {
			content:")";
		}
	}
	
	&.plus {
		&:before {
			content:"+";
		}
	}
	
	&.radio-tower {
		&:before {
			content:"`";
		}
	}
	
	&.clock {
		&:before {
			content:"{";
		}
	}
	
	&.clock2 {
		&:before {
			content:"}";
		}
	}
	
	&.grid {
		&:before {
			content:"\\";
		}
	}
	
	&.question {
		&:before {
			content:"?";
		}
	}
	
	&.downarrow {
		&:before {
			content: "/";
		}
	}
	
}