#top_wrapper {
	.topsubmenu {
		margin-top: 20px;
		.menu-primary-container {
			ul.menu {
				li {
					text-transform: uppercase;
					a {
						font-weight: 700;
						display: inline-block;
						background: #363b3f;
						line-height: 37px;
						padding: 0 15px;
						@include transitions();
						&:hover {
							text-decoration: none;
							background: $yellow;
							color: $dark-grey;
						}
					}
				}
			}
		}
	}
}

a.mobile-nav-button {
	// Mobile menu
	//@include border-radius(3px);
	//@include bevel($strength: .1);
	display: none;
	background-image: url(img/mobile-nav-icon.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 20px;
	height: 45px;
	margin-top: 0px;
	float: left;
	line-height: 37px;
	text-align: left;
	margin-right: 0 !important;
	text-indent: -9999px;
	
	@include break(mobile) {
		display: inline-block;
	}
	
}

.mobile-nav {
	ul {
		li {
			list-style-type: none;
			border-bottom: 1px solid #555;
			a {
				display: block;
				padding: 5px 15px;
				font-weight: bold;
				color: #FFF;
				
				&:hover, &:active {
					background-color: black;
					text-decoration: none;
					color: $red;
				}
			}
			
			&.icon {
				font-size: .5em;
				left: -10px;
				
				&:before {
					color: #999 !important;
					//@include text_shadow($shadow_x:1px, $shadow_y:1px, $shadow_rad:0px, $shadow_color:#BBB);
				}

				a {
					padding-left: 65px;
				}
			}
			
		}
	}
}