ul.products {
	
	&.with-sidebar {
		//@include col(3,4,2);
		
		@include break(v-tablet) {
			width: 100%;
			float: none;
		}
		
		li.product {
			//@include col(1,4,2);
			&.last {
				//@include col-last(1,4,2);
			}
			
			/*
@include break(mobile) {
				width: 75%;
				float: none;
				clear: left;
				margin: 0 auto 15px auto;
				&.last {
					width: 75%;
					float: none;
					clear: left;
					margin: 0 auto;
				}
			}
*/
		}
	}
	
	li.product-category,
	li.product {
		margin-bottom: 20px;
		position: relative;
		list-style-type: none;
		@include trans-bg(#ffffff,.5);
		@include border-radius(3px);
		@include bevel();
		//@include col(1,5,2);
		@include transitions();
		
		&:hover {
			background: darken($subtle-background,3%);
		}
		
		&.last {
			//@include col-last(1,5,2);
		}
		
		/*
			@include break(mobile) {
			width: 75%;
			float: none;
			clear: left;
			margin: 0 auto 15px auto;
			&.last {
				width: 75%;
				float: none;
				clear: left;
				margin: 0 auto;
			}
		}
		*/
		
		div[itemprop=description], 
		hr {
	      display: none;
	    }
		
		&.featured {
			position: relative;
			@include trans-bg($yellow,.5);
			&:before {
				content:")";
				font-family: 'ModernPictogramsNormal';
				font-size: 2em;
				position: absolute;
				color: $red;
				left: 13px; top: 15px;
			}
		}
		
		&.sale {
			.onsale {
				display: none;
			}
			
			h3 {
				&:before {
					content:"SALE! ";
					color: $red;
				}
			}
			
			position: relative;
			//text-indent: -9999px;
			@include trans-bg($green,.3);
			
			&:hover {
				@include trans-bg($green,.5);
			}
			
			&:before {
				content:"J";
				font-family: 'ModernPictogramsNormal';
				font-size: 2em;
				position: absolute;
				color: $red;
				left: 13px; top: 15px;
			}
			
			del {
				font-size: .5em;
				//display: block;
				color: $dark-grey;
				&:before {
					content:"Was ";
				}
			}
			
			ins {
				//font-size: 2em;
				//font-weight: 200;
				//font-style: italic;
				border: none;
				text-decoration: none;
			}
			
		}
		
		& > a {
			display: block;
			padding: 20px 20px 5px;
			
			/*
@include break(v-tablet) {
				padding: 4px 4px 4px;
			}
			
			@include break(mobile) {
				padding: 20px 20px 5px;
			}
*/
		
			&:hover {
				text-decoration: none;
			}
		}
		
		.star-rating {
			display: none;
		}
		
		a.add_to_cart_button,
		a.product_type_variable,
		a.button {
				padding: 0 0 0 20px;
				display: block;
				@include border-bottom-radius(3px);
		}
		
		a.added_to_cart {
			padding: 0 0 0 20px;
			margin-bottom: 1px;
			background: $yellow;
			@include border-bottom-radius(3px);
		}
		
		img {
			border: 1px solid rgba(0,0,0,.1);
			width: 100%;
			height: auto;
			background: white;
		}
		
		h3 {
			color: $dark-grey;
			font-size: 1em;
			font-weight: 700;
			padding: 10px 0 8px 0;
			margin: 0;
			
			&.large {
				font-size: 2em;
				//color: white;
				//@include text-shadow(0px,0px,8px,darken($yellow,20%));
			}
			
			@include break(v-tablet) {
				padding: 5px 0;
			}
		}
		
		.star-rating {
			font-size: .8em;
			color: $dark-grey;
		}
		
		.price {
			font-size: 2em;
		}
		
		.count {
			display: none;
		}
		
	}
	
	li.product:not(.product-category) {
		& > a:first-child {
			min-height: 270px;
		}
	}
	
	li.product-category {
		min-height: 96px;
		background: #42484d;
		//@include vertical-gradient(lighten($yellow,25%),$yellow);
		@include transitions();
		& > a {
			padding: 20px;
			text-align: center;
			color: #999;
			
			h3 {
				color: #CCC;
				@include transitions();
			}
		}
		&:hover {
			background: lighten(#42484d,15%);
			h3 {
				color: white;
			}
			//background: lighten($yellow,10%);
			//@include vertical-gradient($yellow,lighten($yellow,25%));
			@include bevel($reverse:true);
		}
	}
	
	&.grid {
		div[itemprop="description"], hr {
	      display: none;
	    }
	    li.product-category,
	    li.product {
		    @include grids(desk,5,2);
			@include grids(tablet-desk,4,2);
			@include grids(v-tablet-tablet,3,2);
			@include grids(mobile-v-tablet,2,2);
			@include grids(v-mobile-mobile,1,2);
	    }
	}
	
	&.list {
		li.product {
			@include col(1,2,2);
			
			&:nth-child(even) {
				@include col-last(1,2,2);
			}
			
		    &:after {
		      content: "";
		      display: block;
		      clear: both;
		    }
		    img {
		      @include col(1,3,2);
		      margin-bottom: 1.5em;
		      -webkit-transition: none !important;
		      //margin-right: 3.8%!important;
		      margin-rigtt: 0;
		    }
		    
		    h3 {
			    font-size:1.5em;
			    font-weight: 200;
		    }
		    
		    h3, div[itemprop="description"], 
		    .price {
		    	@include col-last(2,3,2);
		    }
		    
		    div[itemprop="description"] {
		      display: block;
		      p {
			      padding: 15px 0 0;
		      }
		    }
		    .gridlist-buttonwrap {
		      //margin-bottom: 1.5em;
		      clear: left;
		      
		    }
		    hr {
		      clear: both;
		    }
			&:not(.product-category) {
				& > a:first-child {
					min-height: 0;
				}
			}
		}
		
	}
	
}

.gridlist-toggle {
	@include break(mobile) {
		display: none;
	}
}