#shopping-cart-preview {
	width: 100%;
	//background: #363b3f;
	//z-index: 100;
	
	h4 {
		color: $yellow;
		font-size: 1.5em;
		padding: 0 10px; margin: 0;
		font-weight: 200;
		background: #222;
		line-height: 72px;
		text-align: center;
	}
	
	.product-list {
		padding: 8px 8px 0 8px;
		li {
			list-style-type: none;
			padding: 7px;
			margin: 0;
			margin-bottom: 8px;
			line-height: normal;
			border-bottom: 1px solid lighten(#363b3f,10%);
			//background: lighten(#363b3f,10%);
			//@include bevel($strength:.1,$reverse:'true');
			
			&:last-child {
				margin-bottom: 0;
			}
			
			a {
				font-weight: 200;
				&:hover {
					text-decoration: none;
				}
			}
			
		}
		
	}
	
	.dropdowncartimage {
		@include col(1,5,2);
	}
	
	.dropdowncartproduct {
		@include col-last(4,5,2);
	}
	
	.dropdowncartremove {
		@include col(1,5,2);
		.remove {
			font-weight: 900;
		}
	}
	
	.dropdowncartquantity {
		@include col-last(4,5,2);
		color: white;
		text-align: right;
		font-weight: 400;
	}
	
	.buttons {
		padding: 8px;
		//margin-bottom: 8px;
		
		a.button {
			text-align: center;
			line-height: 45px;
			font-size: 1em;
			padding: 0 15px;
			&:first-child {
				@include col(1,2,2);
			}
			
			&.checkout {
				@include col-last(1,2,2);
			}
		}
		
	}
	
	.no-cart-items {
		padding: 25px 8px;
		text-align: center;
		strong {
			color: white;
			font-style: italic;
			font-weight: 400;
			display: block;
			position: relative;
			line-height: 30px;
			
			
			&:before {
				position: absolute;
				content:"";
				left: 20px;
				top: 15px;
				width: 60px;
				height: 1px;
				border-top: 1px solid $dark-grey;
			}
			
			&:after {
				position: absolute;
				content:"";
				right: 20px;
				top: 15px;
				width: 60px;
				height: 1px;
				border-top: 1px solid $dark-grey;
			}
			
		}
	}
	
}

/*
.shopping-cart-preview {
	position: relative;
	line-height: 37px;
	margin-top: 20px;
	//white-space: nowrap;
	margin-bottom: 15px;
	@include col-last(1,10,1);
	@include break(v-tablet) {
		@include col-last(1,7,1);
	}
	@include break(mobile) {
		position: static;
		width: auto;
		display: inline-block;
	}
	//@include trans-bg(#000000,0.2);
	//@include border-radius(3px);
	//@include bevel($strength:.1,$reverse:'true');
	
	&:hover {
		
	}
	
}
*/

a.cart-contents {
	//@include trans-bg(#FFFFFF,0.7);
	line-height: 37px;
	float: right;
	margin-top: 20px;
	//white-space: nowrap;
	margin-bottom: 15px;
	display: inline-block;
	color: white;
	text-transform: uppercase;
	font-weight: 400;
	font-size: .8em;
	background: #363b3f;
	position: relative;
	white-space: nowrap;
	padding: 0 15px 0 30px;
	&:hover {
		text-decoration: none;
	}
	
	&:before {
		text-transform: none;
		font-family: 'ModernPictogramsNormal';
		font-size: 1.5em;
		position: absolute;
		left: 10px;
		top: 4px;
		vertical-align: middle;
		content: "i";
		line-height: 32px;
		color: #8B8A8E;
	}
	
	@include break(mobile) {
		float: right;
		margin: 10px 0;
		display: none;
	}
	
}

.cart_totals {
	//@include col(1,2,2);
}
.shipping_calculator {
	//@include col-last(1,2,2);
	h2 {
		margin-top: 0;
	}
}

body.woocommerce-cart .cart-collaterals .shipping_calculator h2 {
	margin-top: 0 !important;
}