.sidebar {
	display: block;
	@extend .darken;
	&.right {
		@include col-last(1,4,2);
		
		@include break(v-tablet) {
			width: 100%;
			float: none;
			clear: left;
		}
		
	}
}

.product-filters {
	.widget_layered_nav_filters {
		vertical-align: top;
		@include trans-bg(#000000,0.3);
		padding: 10px 25px;
		//margin: 10px 0;
		
		h5 {
			color: white;
		}
		ul {
			li {
				list-style-type: none;
				display: inline-block;
				a {
					display: block;
					position: relative;
					line-height: 30px;
					margin-right: 25px;
					padding: 0 5px 0 25px;
					color: white;
					font-size: .8em;
					font-weight: 700;
					@include border-left-radius(3px);
					@include trans-bg(#000000,0.2);
					&:after {
						position: absolute;
						right: -30px;
						content:"";
						border-color:transparent transparent transparent rgba(0,0,0,.2);
						border-style:solid;
						border-width:15px;
						width:0px;
						height:0px;
					}
					
				}
				&.chosen {
					position: relative;
					//border: 1px solid red;
					&:before {
						content:"x";
						font-family: 'ModernPictogramsNormal';
						font-size: 1em;
						position: absolute;
						color: white;
						left: 7px;
						top: 0px;
						line-height: 30px;
						text-align: center;
						font-weight: normal;
					}
				}
			}
		}
	}
	.widget_layered_nav {
		vertical-align: top;
		display: block;
		padding: 8px 25px;
		margin: 10px 0;
		border-bottom: 1px solid rgba(255,255,255,.5);
		select {
			line-height: 45px;
		}
		
		ul {
			margin: 0; padding: 0;
			min-width: 200px;
			li {
				list-style-type: none;
				display: block;
				margin: 0; padding: 0;
				line-height: 20px;
				&:hover {
					//@include trans-bg(#000000,0.2);
				}
				
				a {
					//@include col(7,8,0);
					line-height: 15px;
					color: $dark-grey;
					font-weight: 400;
					&:hover {
						text-decoration: none;
						color: $red;
					}
				}
				small {
					@include col-last(1,8,0);
					font-size: .7em;
					color: $dark-grey;
					background: white;
					position: relative;
					padding: 0 3px;
					line-height: 15px;
					text-align: center;
					@include trans-bg(#000000,0.2);
					@include border-radius(3px);
				}
				
				&.chosen {
					position: relative;
					&:before {
						content:"x";
						font-family: 'ModernPictogramsNormal';
						font-size: 1em;
						position: absolute;
						color: $dark-grey;
						left: -15px;
						top: 0px;
						line-height: 22px;
						text-align: center;
					}
					
					a {
						color: black;
					}
					&:hover {
						&:before {
							color: $red;
						}
					}
				}
				
			}
		}
		
	}
	h5 {
		text-transform: uppercase;
		font-size: .8em;
		font-weight: 700;
		margin: 0; padding: 0 0 10px 0;
		line-height: 15px;
		color: $red;
	}
}