/*
 * Additional styles to be included into parent style sheet (../styles.scss)
 */

@import "_base-grid.scss", 
		 "_base-mixins.scss",
		 "_woocommerce.scss";
		 

@import "elements/_dropdown-menu.scss",
		"elements/_breadcrumbs.scss",
		"elements/_icons.scss",
		"elements/_shopping-cart.scss",
		"elements/_sidebars.scss",
		"elements/_navigation.scss",
		"elements/_product-category-list.scss",
		"elements/_sliderTransition.scss";

@import "content-types/_taxonomy-product_cat.scss",
		"content-types/_page-template-page-fullwidth.scss",
		"content-types/_product.scss",
		"content-types/_home.scss",
		"content-types/_shopping-cart.scss",
		"content-types/_blog.scss",
		"content-types/_page.scss";

body {
	background-color: $red;
	background-image: url(img/redbgrnd.png) 50% 0 repeat fixed;
	padding-top: 72px;
	@include break(mobile) {
		padding-top: 0;
	}
}

#logo {
	display: block;
	padding: 45px 0 45px 0;
	@include break(v-tablet) {
		text-align: center;
	}
}

#top_wrapper {
	position: fixed;
	top: 0; left: 0;
	z-index: 1;
	
	@include break(mobile) {
		position: static;
	}
	.textwidget {
		white-space: nowrap;
	}
}

#header_wrapper {
	p {
		color: white;
	}
}

.content_wrapper {
  width: $desk;
  margin: 0 auto;
  @include transitions();
  
  @include break(tablet) {
	  width: 95%;
	  padding: 0 2.5%;
  }
}
	
.topsubmenu {
	@include col(7,10,1);
	
	li.icon {
		&:before {
			@include break(desk) {
				display: none;
			}
			@include break(mobile) {
				display: block;
			}
		}
	}
	
	@include break(v-tablet) {
	  @include col(6,7,1);
	}
	@include break(mobile) {
		display: inline-block;
		float: right;
		width: auto;
		margin-top: 10px !important;
		li {
			display: none;
		}
		
	}
}

.spacer {
	@include col(2,10,1);
	@include break(v-tablet) {
		display: none;
	}
}

#searchbox {
	@include col-last(2,10,1);
	margin-top: 22px;
	input, input:focus {
		padding: 8px 0 8px 2%;
		width: 96%;
	}
	input[type=text] {
		margin-top: 0px;
	}
	
	@include break(v-tablet) {
		display: none;
	}
}

#header_postscript {
	background: white;
	text-align: center;
	padding: 50px 0;
	font-size: 1.5em;
	position: relative;
	
	p {
		font-size: 1em;
		line-height: 40px;
	}
	
	&:before {
		content: "";
		width: 150px; height: 15px;
		//background: red;
		position: absolute;
		top: -15px; left: 50%;
		margin-left: -75px;
		display: block;
		z-index: 1;
		@include triangle(up,white,75,15);
	}
	
}

#contentwrapper {
	background-color: $subtle-background;
	padding: 70px 0 50px;
	position: relative;
	h1, h2 {
		color: $dark-grey;
		text-align: center;
		padding: 10px 0 30px;
		span {
			display: block;
		}
	}
	
	&:before {
		content: "";
		width: 150px; height: 15px;
		//background: red;
		position: absolute;
		top: -15px; left: 50%;
		margin-left: -75px;
		display: block;
		z-index: 1;
		@include triangle(up,$subtle-background,75,15);
	}
	
}

#phone_feature {
	background-color: $red;
	background-image: url(img/color-ram.png);
	background-repeat: repeat;
	min-height: 450px;
	overflow: hidden;
	position: relative;
	
	#phone_feature_img {
		position: absolute;
		width: 100%;
		height: 450px;
		background-repeat: no-repeat;
	}
	
	@include break(mobile) {
		display: none;
	}
	
}

#cta1 { // Call to Action 1
	background-color: white;
	min-height: 592px;
	background-image: url(img/notebook-logo.png);
	background-position: right center;
	background-repeat: no-repeat;
	position: relative;
	
	&:before {
		content: "";
		width: 150px; height: 15px;
		//background: red;
		position: absolute;
		top: -15px; left: 50%;
		margin-left: -75px;
		display: block;
		z-index: 1;
		@include triangle(up,white,75,15);
	}
	
	
	.content_wrapper {
		padding-top: 100px;
	}

	@include break(tablet) {
		background-position: 140% center;
	}
	
	@include break(v-tablet) {
		background-image: none;
		min-height: 0;
		.content_wrapper {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
		
	aside {
		@include trans-bg($dark-grey, .1);
		//background: $subtle-background;
		@include col(1,3,5);
		padding: 40px;
		
		@include break(v-tablet) {
			@include col(1,2,5);
		}
		
		@include break(mobile) {
			width: 100%;
			float: none;
		}
	}
	
	.content {
		@include col(1,3,5);
		padding-top: 15px;
		
		@include break(v-tablet) {
			@include col-last(1,2,5);
		}
		
		@include break(mobile) {
			width: 100%;
			float: none;
		}
		
		h2 {
			color: $red;
			font-weight: 700;
			font-size: 2em;
			padding: 0 0 15px; margin: 0;
		}
		
		h3 {
			color: $dark-grey;
			font-size: 1.2em;
			padding: 0 0 15px; margin: 0;
			font-weight: 700;
		}
		
		p {
			font-size: 1em;
		}
		
	}	
}

#cta2 {
	min-height: 630px;
	background-image: url(img/blur-photo-bg.jpg);
	background-size: cover;
	position: relative;
	/*
	&:before {
		content: "";
		width: 150px; height: 15px;
		//background: red;
		position: absolute;
		top: 0px; left: 50%;
		margin-left: -75px;
		display: block;
		z-index: 1;
		@include triangle(down,white,75,15);
	}
	*/
	.content {
		@include col-last(12,20,0);
		padding-top: 100px;
		
		
		h2 {
			color: white;
			font-weight: 300;
			font-size: 2.3em;
			padding: 0 0 10px; margin: 0;
		}
		
		h3 {
			color: white;
			font-size: 1.8em;
			padding: 0 0 15px; margin: 0;
			font-weight: 100;
		}
		
		p {
			font-size: 1.2em;
			color: white;
			padding: 30px 0;
		}
		
	}
	
	@include break(tablet) {
		.content {
			@include col-last(1,2,0);
		}
	}
	
	@include break(v-tablet) {
		min-height: 0;
		img {
			display: none;
		}
		
		.content {
			width: 90%;
			padding: 75px 5%;
			margin: 0 auto;
			float: none;
		}
	}
}

.pvc_stats {
	display: none;
}

#newsletter {
	background: $subtle-background;
	padding: 70px 0;
	text-align: center;
	position: relative;
	
	&:before {
		content: "";
		width: 150px; height: 15px;
		//background: red;
		position: absolute;
		top: -15px; left: 50%;
		margin-left: -75px;
		display: block;
		z-index: 1;
		@include triangle(up,$subtle-background,75,15);
	}
	
	h4.large {
		font-size: 3em;
		color: $dark-grey;
		font-weight: 200;
		@include break(v-tablet) {
			font-size: 2.5em;
		}
	}
	
	.nsu-text-before-form {
		font-size: 1.5em;
	}
	
	label {
		display: none;
	}
	
	p {
		display: inline;
	}
	
	.nsu-form {
		width: 50%;
		display: block;
		margin: 45px auto;
		position: relative;
		&:after {
			clear: right;
		}
		
		@include break(v-tablet) {
			width: 70%;
		}
		
	}
	.nsu-field {
		width: 95%;
		margin: 0;
		line-height: 61px;
		padding: 0 0 0 5%;
		font-size: 1.3em;
		font-style: italic;
		float: none;
		@include border-radius(3px);
		@include outer-glow(0);
		
		&:focus {
			border: 1px solid $red;
			@include outer-glow(10);
		}
	}
	
	.nsu-submit {
		position: absolute;
		color: white;
		top: 7px;
		right: 7px;
		margin: 0;
		border: none;
		background-image: none;
		background: $red;
		padding: 0 35px;
		line-height: 48px;
		float: none;
		font-size: 1.3em;
		font-style: italic;
		text-transform: none;
		font-weight: 400;
	}
	
}

ul.feature-list {
	li {
		list-style-type: none;
		font-size: .8em;
		color: $dark-grey;
		line-height: normal;
		padding: 15px 0 15px 70px;
		
		&.icon {
			color: $dark-grey;
		}
		
		h4 {
			font-weight: 400;
			font-style: italic;
			font-size: 1.4em;
			margin: 0;
			padding: 0;
		}
	}
	
	&.icon-grid {
		li {
			display: inline-block;
			padding-left: 0;
			text-align: center;
			@include col(1,10,0);
			
			&:nth-child(11n) {
				@include col-last(1,10,0);
			}
			
			h4 {
				font-size: 1em;
				padding-top: 70px;
				text-align: left;
			}
			
		}
	}
	
}


.clearfix {
	@include clearfix(before);
	@include clearfix(after);
}

.darken {
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
  	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
  	box-shadow: inset 0 1px 3px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
	/* fallback */ 
	background-color: transparent;  
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); 
	/* IE 10 */ 
	background: -ms-linear-gradient(top, #eb5a47, transparent); 
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, #eb5a47, transparent);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity:1.0;
	
	strong {
		color: white;
		font-size: 1.3em;
		font-weight: 700;
		//text-align: center;
		//display: block;
	}
	
}

.rounded {
	@include border-radius(3px);
}

.pad {
	padding: 20px 5%;
}

h1 {
	color: white;
	font-weight: 100;
	font-size: 48px;
	span {
		font-weight: 700;
	}
	
	@include break(mobile) {
		font-size: 2.5em;
	}
}

h2 {
	font-weight: 100;
	span {
		font-weight: 700;
	}
}

body.tax-product_cat {
	h1 {
		text-align: center;
		padding: 10px 0 30px;
	}
}

body.single-product {
	h1.page-title,
	h2.page-title {
		text-align: center;
		padding: 10px 0 30px;
	}
}

#bottom_wrapper {
	background: white;
	text-align: center;
}

#copyright_wrapper {
	background: transparent;
	min-height: 0;
	padding: 0;
	text-align: center;
	
	.copyright_message {
		float: none;
	}
	
}

.button {
	display: inline-block;
	line-height: 51px;
	padding: 0 30px;
	background-color: $red;
	color: white;
	font-size: 1.2em;
	font-weight: 400;
	font-style: italic;
	border: 0;
	background-image: none;
	@include bevel();
	@include transitions();
	transition-delay: 0.2s;
	
	&:hover {
		text-decoration: none;
		background-color: lighten($red,10);
		@include bevel($reverse:true);
	}
	
	&.red {
		background-color: $red;
		&:hover {
			background-color: lighten($red,10);
		}
	}
	
	&.post-edit-link {
		background: $yellow;
		padding:  0 15px 0 35px;
		position: relative;
		line-height: 35px;
		
		a {
			color: white !important;
			&:hover {
				text-decoration: none;
			}
		}
		
		&:before {
			content:"V";
			font-family: 'ModernPictogramsNormal';
			font-style: normal;
			font-size: 1.5em;
			font-weight: 100;
			position: absolute;
			color: white;
			left: 7px; top: 2px;
		}
	}
	&.alt {
		float: right;
		margin-left: .25em;
	}
}

.edit {
	a {
		color: white;
		&:hover {
			text-decoration: none;
		}
	}
	.post-edit-link {
		background: transparent;
		padding:  0 15px 0 35px;
		position: relative;
		line-height: 35px;
		color: white;
		@include border-radius(3px);
		
		a {
			color: white !important;
			&:hover {
				text-decoration: none;
			}
		}
		
		&:before {
			content:"V";
			font-family: 'ModernPictogramsNormal';
			font-style: normal;
			font-size: 1.5em;
			font-weight: 100;
			position: absolute;
			color: white;
			left: 10px; top: -5px;
		}
	}
	
	&:hover {
		background: $red;	
	}
}

.woocommerce-error,
.woocommerce-message {
	color: black;
	line-height: 45px;
	@include border-bottom-radius(3px);
	background-color: $yellow;
	position: relative;
	padding-left: 80px;
	//margin-top: 15px;
	//@include trans-bg($yellow,.5);
	@include outer-glow();
	li {
		color: black;
		font-weight: 400;
	}
	
	a.button {
		float: right;
		line-height: 30px !important;
		padding: 5px 0;
		font-size: 1em !important;
		margin: 7px 7px 0 0;
	}
	
	&:before {
		font-family: 'ModernPictogramsNormal';
		font-size: 5em;
		position: absolute;
		color: #ffffff;
		//background-color: #f0f0f0;
		width: 50px;
		height: 50px;
		margin-left: 0px;
		left: 15px;
		top: 7px;
		//margin-top: 2px;
		line-height: 40px;
		text-align: center;
		font-weight: 300;
		content:"=";
	}
	
}


.woocommerce-message {
	position: relative;
	padding-left: 80px;
	&:before {
		font-family: 'ModernPictogramsNormal';
		font-size: 5em;
		position: absolute;
		color: #ffffff;
		//background-color: #f0f0f0;
		width: 50px;
		height: 50px;
		margin-left: 0px;
		left: 15px;
		top: 7px;
		//margin-top: 2px;
		line-height: 40px;
		text-align: center;
		font-weight: 300;
		content:"=";
	}
}

.social {
	margin-top: 25px;
}

.header-social {
	li {
		display: inline-block;
		//border: 1px solid #363b3f;
		//background: #363b3f;
		list-style-type: none;
		line-height: 33px;
		padding: 0 10px 0 25px;
		&.icon{
			&:before{
				font-size: 1.5em;
				width: 16px; height: 16px;
				left: 3px;
				color: #8B8A8E;
				@include transitions();
			}
			
			&:hover {
				&:before {
					color: $red;
				}
			}
			
		}
		
		a {
			font-size: .8em;
			color: white;
			font-weight: 300;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

#recent_blog_posts {
	position: relative;
	background-color: lighten($yellow,25%);
	font-size: 1.5em;
	
	&:before {
		content: "";
		width: 150px; height: 15px;
		//background: red;
		position: absolute;
		top: -15px; left: 50%;
		margin-left: -75px;
		display: block;
		z-index: 1;
		@include triangle(up,lighten($yellow,25%),75,15);
	}
	
	.recent_posts {
		line-height: 35px;
		padding: 70px 0;
		//border-top: 1px solid $light-grey;
		//margin-top: 50px;
		
		.recent_post {
			&:last-child {
				@include col-last(1,3,2);
			}
		}	
		
		@include break(mobile) {
			padding: 50px 0 25px;
		}
		
	}
	
	.recent_post {
		@include col(1,3,2);
		
		&:nth-child(3n) {
			@include col-last(1,3,2);
		}
		
	
		.post-image {
			//text-align: right;
			@include col(1,3,2);
			
			img {
				//border: 10px solid $subtle-background;
				width: 85%;
				@include border-radius(50%);	
			}
			
			@include break(v-tablet) {
				@include col(1,1,0);
				text-align: center;
				float: none;
				img {
					width: 75%;
				}
			}
			
			@include break(mobile) {
				img {
					width: 50%;
				}
			}
			
		}
		.content {
			@include col-last(2,3,2);
			text-align: left;
			h3 {
				line-height: 25px !important;
				a {
					font-weight: 700;
					font-size: .6em !important;
					color: $red;
					
				}
	
				margin:0;
			}
			p {
				font-size: .7em !important;
			}
			a.button {
				font-size: .6em;
				line-height: 30px;
			}
			
			@include break(v-tablet) {
				@include col(1,1,0);
				float: none;
			}
			
			@include break(mobile) {
				text-align: center;
				h3 {
					margin-top: 15px;
				}
			}
			
		}
		
		@include break(mobile) {
			@include col(1,1,0);
			margin-bottom: 50px;
			float: none;
			display: none;
			
			&:first-child {
				display: block;
			}
			
			&:nth-child(3n) {
				display: none;
			}
		}
	}
	
}



.sales_pitch {
	color: #999;
	line-height: 35px;
	font-size: .8em;
	font-weight: 700;
	float: left;
	background-image: url(img/logo-fedex.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 85px;
	
	strong {
		color: lighten(#493390,30%);
	}
	
	span {
		//color: white;
		font-weight: 300;
	}
}

.left_content { 
	@include col(3,4,5);
}

.right_content { 
	background-color: #f5f5f5; 
	padding: 25px;
	@include col-last(1,4,5);
}

.mobile-hide {
	@include break(mobile) {
		display: none !important;
	}
}

#commentform {
	background-color: darken($subtle-background,3%);
	@include bevel();
	
	.comment-form-author {
		@include col(1,2,5);
	}
	
	.comment-form-email {
		@include col-last(1,2,5);
	}
	
}

.mobile-only {
	//display: none;
}

#woopra_bar {
	@include break(tablet) {
		display: none !important;
	}
}

.shop_with_confidence {
	line-height: 24px;
	font-weight: bold;
}