$subtle-background: #e7f6fd;
$f-primary: 'Lato', sans-serif;
$f-secondary: 'Permanent Marker', cursive;

// !GLOBAL RESPONSIVE VARIABLES

$desk: 1300px;
$tablet: 1300px; // This number needs to be the same as $desk to prevent a "no-mans-land" in breakpoints
$v-tablet: 1000px;
$mobile: 760px;
$v-mobile: 500px;
$sm-mobile: 500px;

// !GLOBAL GUTTER VARIABLES
//column gutter variables we now how four options if using gutter space
$gut-no: 0;
$gut-sm: .1;
$gut-med: 3;
$gut-lg: 20;


// !GLOBAL COLORS
$cream: #fffbf8;
//$c-primary: #b5121b;
$c-primary: #3a3332;
$c-secondary: #ffc600;
$c-tertiary: #ffe052;
$c-accent: #ffd14e;
$c-footer: #3a3332;
$c-shadows: #9d646b;

$black: #000;
$red: #eb5a47;
$blue: #2561b8;
$yellow: #ffc925;
$green: #b9e233;

$dark-grey: #565656;
$grey: #999595;
$light-grey: #f8f8f8;


// !PADDING VARIABLES
$wrap-pad: 6%; 

// !BORDER RADIUS
$b-radius: 6px;

$speed: 1500ms;