body.woocommerce-account {
	.left_content {
		width: 100%;
		float: none;
	}
	
	#contentwrapper {
		background-color: white;
		
		&:before {
			@include triangle(up,white,75,15);
		}
	}
	
	table.shop_table {
		width: 100%;
		border: 2px solid #ccc;
		th {
			text-align: left;
			padding: 0 8px;
			font-weight: bold;
			background: $subtle-background;
		}
		
		td {
			padding: 0 8px;
		}
		a.button {
			line-height: 35px;
		}
	}
	
	h2 {
		margin: 25px 0 10px;
	}
	
	a.edit {
		@extend .button;
		line-height: 25px !important;
		font-size: .7em !important;
	}
	
}

.woocommerce-result-count {
	@include col(1,2,0);
}
.woocommerce-ordering {
	@include col-last(1,2,0);
	text-align: right;
	padding-bottom: 15px;
	
}


// Woocommerce Tabs
/* Tabs on the product page */

$tab-color: #42484d;

		.woocommerce-tabs {
			clear:both;
			
			ul.tabs {
			    list-style:none;
			    padding: 0 0 0 1em;
			    //margin: 0 0 1.618em;
			    margin-top: 50px;
			    overflow:hidden;
			    position: relative;

			    li {
			    	border: 1px solid darken( $tab-color, 10 );
				    @include vertical_gradient( $tab-color, darken( $tab-color, 10 ) );
				    display: inline-block;
				    position: relative;
				    z-index: 0;
				    @include border-top-radius(4px);
				    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255,255,255,0.6);
				    margin: 0 -5px;
				    padding: 0 1em;

				    a {
				    	display: inline-block;
				    	padding: .5em 0;
				    	font-weight:bold;
				    	color: WHITE;
				    	@include darkorlighttextshadow( WHITE );
				    	text-decoration: none;

				    	&:hover {
				    		text-decoration:none;
				    		color: lighten( WHITE, 10 );
				    	}
				    }

				    &.active {
				    	background: lighten($tab-color,10%);
					    z-index: 2;
					    border-bottom-color: lighten($tab-color,10%);

					    a {
					    	color: white;
					    	text-shadow: inherit;
					    }

					    &:before {
					    	box-shadow: 2px 2px 0 lighten($tab-color,10%);
					    }

					    &:after {
					    	box-shadow: -2px 2px 0 lighten($tab-color,10%);
					    }
				    }
				    &:before, &:after {
				    	border: 1px solid darken( $tab-color, 10 );
					    position:absolute;
					    bottom: -1px;
					    width: 5px;
					    height: 5px;
					    content: " ";
				    }
				    &:before {
				    	left: -6px;
				    	-webkit-border-bottom-right-radius: 4px;
				    	-mox-border-bottom-right-radius: 4px;
					    border-bottom-right-radius: 4px;
					    border-width: 0 1px 1px 0;
					    box-shadow: 2px 2px 0 darken( $tab-color, 10 );
				    }
				    &:after {
				    	right: -6px;
				    	-webkit-border-bottom-left-radius: 4px;
				    	-mox-border-bottom-left-radius: 4px;
					    border-bottom-left-radius: 4px;
					    border-width: 0 0 1px 1px;
					    box-shadow: -2px 2px 0 darken( $tab-color, 10 );
				    }
			    }
			    &:before {
			    	position:absolute;
				    content: " ";
				    width: 100%;
				    bottom: 0;
				    left: 0;
				    border-bottom: 1px solid darken( $tab-color, 10 );
				    z-index: 1;
			    }
			}
			.panel {
				background: white;
				margin: 0 0 2em;
				padding: 25px;
				border: 1px solid $tab-color;
				border-top: none;
				@include border-bottom-radius(4px);
			}
		}

/* =Price Filter Widget
	-------------------------------------------------------------- */

	.widget_price_filter {
		.price_slider {
			margin-bottom: 1em;
		}
		.price_slider_amount {
			text-align: right;
			line-height: 2.4em;
			font-size: 0.8751em;
			.button {
				font-size: 1.15em;
				line-height: 30px;
			}
			.button {
				float:left;
			}
		}
	   .ui-slider {
			position: relative;
			text-align:left;
		}
	   .ui-slider .ui-slider-handle {
			position:absolute;
			z-index: 2;
			width: 0.9em;
			height: 0.9em;
			@include border_radius(1em);
			border: 1px solid darken( $c-tertiary, 50 );
			cursor: pointer;
			@include vertical_gradient( $c-tertiary, darken( $c-tertiary, 10 ));
			outline:none;
			top: -.3em;
			-webkit-box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);
			-moz-box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);
			box-shadow:
				0 1px 2px rgba(0,0,0,0.3),
				inset 0 0 0 1px rgba(255,255,255,0.65);

			&:last-child {
				margin-left: -1em;
			}
		}
	   .ui-slider .ui-slider-range {
			position:absolute;
			z-index: 1;
			font-size: .7em;
			display:block;
			border: 0;
			background: $c-tertiary url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAFUlEQVQIHWP4//9/PRMDA8NzEPEMADLLBU76a5idAAAAAElFTkSuQmCC) top repeat-x; /* transparent png */
			@include inset_box_shadow(0,0,0,1px,rgba(0,0,0,0.5));
			@include border_radius(1em);
		}
	   .price_slider_wrapper .ui-widget-content {
			@include border_radius(1em);
			@include vertical_gradient( $yellow, lighten( $yellow, 30 ) );
		}
	   .ui-slider-horizontal {
			height: .5em;
		}
	   .ui-slider-horizontal .ui-slider-range {
			top: 0;
			height: 100%;
		}
	   .ui-slider-horizontal .ui-slider-range-min {
			left: -1px;
		}

	   .ui-slider-horizontal .ui-slider-range-max {
			right: -1px;
		}
	}