/*
 * These are all default styles of the base theme, you want to do 
 * all re-styling in css/_site-id.scss
 */

@charset "UTF-8";
@import "css/_variables.scss", "css/_mixin.scss";

/*
Theme Name: Phoenix Memory
Theme URI: http://www.evanagee.com
Description: Phoenix Memory
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Version: 1.0
Author: Evan Agee
Author URI: http://www.evanagee.com
*/

/*  RESET  */

@font-face {
  font-family: 'ModernPictogramsNormal';
  src: url('css/modernpics-webfont.eot');
  src: url('css/modernpics-webfont.eot?#iefix') format("embedded-opentype"), url('css/modernpics-webfont.woff') format("woff"), url('css/modernpics-webfont.ttf') format("truetype"), url('css/modernpics-webfont.svg#ModernPictograms tNormal') format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}

.clearbig {
  clear: both;
  display: block;
  font-size: 0;
  height: 40px;
  line-height: 0;
  width: 100%;
}

#sb-nav a {
  border-bottom: none;
}

p:empty {
  display: none;
}

#contentwrapper img {
  @include transitions(.2s);
}

body {
  @include transitions(.2s);
  font-family: $f-primary, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #656565;
  font-weight: 300;
  &:before {
		content: "";
		position: fixed;
		top: -10px;
		left: 0;
		width: 100%;
		height: 10px;
		
		-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
		-moz-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
		 box-shadow: 0px 0px 20px rgba(0,0,0,.8);
		
		z-index: 100;
	}
}

::selection {
  background: #323232;
  background: $red;
  /* Safari */
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #323232;
  background: $red;
  /* Firefox */
  color: #ffffff;
  text-shadow: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  opacity: 1.0;
  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
    clear: both;
    margin-top: 5px;
  }
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  clear: both;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  img {
    margin-bottom: 20px;
  }
}

img {
  &.alignleft {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  &.alignright {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.wp-caption {
  text-align: center;
  margin: 10px 20px 20px 20px;
  font-family: $f-primary, sans-serif;
  font-style: italic;
  img {
    margin: 0;
    padding: 0;
    border: 0 none;
    a {
      margin: 0;
      padding: 0;
      border: 0 none;
    }
  }
  .wp-caption-text {
    margin: 0;
    padding: 5px;
    font-family: $f-primary, sans-serif;
    font-style: italic;
  }
}

.gallery-caption {
  margin-left: 0;
  font-family: $f-primary, sans-serif;
  font-style: normal;
  font-size: 10px;
}

.gallery-icon img {
  border: 1px solid #d4d4d4 !important;
}

.sticky, .gallery-caption, .bypostauthor {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

.ie7 .blog_wrapper {
  padding-top: 1px;
}

audio, canvas, video {
  display: block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  &:hover, &:active, &:focus {
    outline: 0;
  }
}

sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  opacity: 1.0;
  filter: alpha(opacity = 100);
  &.left {
    float: left;
    margin: 0 20px 20px 0;
  }
  &.right {
    float: right;
    margin: 0 20px 20px 0;
  }
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  //vertical-align: baseline;
}

button, input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
}

input {
  &[type="button"], &[type="reset"], &[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  &[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
    &::-webkit-search-decoration, &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

/*  START OF STYLES  */

hr {
  border: none;
  clear: both;
  margin: 40px 0 50px 0;
  height: 1px;
  border-bottom: 1px solid #d4d4d4;
}

.blue {
  color: #3083a7;
  a {
    color: #3083a7;
  }
}

.red {
  color: #ff675b;
  a {
    color: #ff675b;
  }
}

.green {
  color: #26ae90;
  a {
    color: #26ae90;
  }
}

h1 {
  font-family: $f-primary,sans-serif;
  font-size: 60px;
  line-height: 1.2em;
  clear: both;
  color: #656565;
  margin-bottom: 20px;
}

h2 {
  font-family: $f-primary, sans-serif;
  font-size: 42px;
  line-height: 1.2em;
  margin-bottom: 30px;
  color: #FF675B;
  a {
    font-family: $f-primary, sans-serif;
    font-size: 42px;
    line-height: 1.2em;
    margin-bottom: 30px;
    color: #FF675B;
    &:hover {
      color: #42484d;
      font-size: 42px;
      text-decoration: none;
      line-height: 1.2em;
    }
  }
}

h3 {
  font-family: $f-primary, sans-serif;
  font-size: 34px;
  line-height: 1.2em;
  color: #4baad3;
  margin-bottom: 20px;
  a {
    font-family: $f-primary, sans-serif;
    font-size: 34px;
    line-height: 1.2em;
    color: #4baad3;
    margin-bottom: 20px;
    &:hover {
      color: #42484d;
      font-size: 34px;
      text-decoration: none;
      line-height: 1.2em;
    }
  }
}

.viewall {
  display: inline-block;
  float: right;
  margin-top: -50px;
}

h4 {
  font-family: $f-primary, sans-serif;
  font-size: 28px;
  line-height: 1.2em;
  margin-bottom: 20px;
  color: #656565;
  margin-bottom: 20px;
}

h5 {
  font-family: $f-primary, sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  color: #26ae90;
  margin-bottom: 20px;
  a {
    font-family: $f-primary, sans-serif;
    font-size: 24px;
    line-height: 1.2em;
    color: #26ae90;
    margin-bottom: 20px;
    &:hover {
      color: #ff675b;
      font-size: 24px;
      line-height: 1.2em;
      text-decoration: none;
    }
  }
}

h6 {
  font-family: $f-primary, sans-serif;
  font-size: 22px;
  line-height: 1.2em;
  color: #4BAAD3;
  margin-bottom: 20px;
}

p {
  font-family: $f-primary, sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
  color: #656565;
  font-weight: 300;
  &.page_error {
    line-height: 200px;
    text-align: center;
    font-weight: 500;
    font-size: 250px;
  }
  &.page_error_text {
    text-align: center;
    font-size: 24px;
  }
}

#header_wrapper {
	p {
		color: white;
	}
}

a {
  font-size: 16px;
  font-family: $f-primary, sans-serif;
  text-decoration: none;
  @include transitions(0.3s);
  outline: none;
  color: #ff675b;
  &:hover {
    text-decoration: underline;
  }
}

.employee_name {
  font-family: $f-primary, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #383838;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  a {
    font-family: $f-primary, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #383838;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    &:hover {
      text-decoration: none;
      color: #ff675b;
    }
  }
}

.employee_title {
  font-family: $f-primary, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: #383838;
  text-align: center;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: square inside none;
  font-size: 16px;
  font-family: $f-primary, sans-serif;
  color: #878787;
}

li {
  &.checkgreen, &.checkblue, &.checkred {
    list-style: none inside none;
    font-size: 16px;
    font-family: $f-primary, sans-serif;
    color: #878787;
    margin-left: 23px;
  }
  &.checkgreen:before {
    font-family: 'ModernPictogramsNormal';
    font-size: 20px;
    content: "%";
    position: absolute;
    color: #47BD9D;
    margin-left: -23px;
    margin-top: 2px;
  }
  &.checkred:before {
    font-family: 'ModernPictogramsNormal';
    font-size: 20px;
    content: "%";
    position: absolute;
    color: #FF675B;
    margin-left: -23px;
    margin-top: 2px;
  }
  &.checkblue:before {
    font-family: 'ModernPictogramsNormal';
    font-size: 20px;
    content: "%";
    position: absolute;
    color: #4BAAD3;
    margin-left: -23px;
    margin-top: 2px;
  }
}

.left_content ul li, ol li {
  line-height: 1.8em;
}

ul li a {
  font-size: 16px;
  font-family: $f-primary, sans-serif;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  outline: none;
  color: #ff675b;
}

ol li {
  list-style: decimal inside none;
  font-size: 16px;
  font-family: $f-primary, sans-serif;
  color: #656565;
  a {
    font-size: 16px;
    font-family: $f-primary, sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    outline: none;
    color: #ff675b;
  }
}

.contentleft {
  float: left;
  line-height: 1.6em;
}

.contentright {
  float: right;
  line-height: 1.6em;
}

#top_wrapper {
  width: 100%;
  background-color: #42484d;
}

#header_wrapper {
  width: 100%;
  background-color: $red;
  background-image: url(img/redbgrnd.png);
  background-repeat: repeat;
  //min-height: 230px;
}

.header_phone {
  &:before {
    font-family: 'ModernPictogramsNormal';
    font-size: 28px;
    content: "O";
    position: absolute;
    color: #ffffff;
    margin-left: -23px;
    margin-top: 2px;
  }
  float: right;
  background-color: #3083a7;
  color: #ffffff;
  font-size: 13px;
  font-family: $f-primary, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  padding: 15px 15px 15px 35px;
  a {
    font-size: 14px;
    font-family: $f-primary, sans-serif;
    color: #ffffff;
    &:hover {
      font-size: 14px;
      font-family: $f-primary, sans-serif;
      color: #ffffff;
    }
  }
}

.breadcrumb_wrapper {
  width: 100%;
  //background-color: #3A9AC4;
  background-color: #a74032;
  min-height: 50px;
}

#message_wrapper {
  width: 100%;
  background-color: #ffffff;
  min-height: 100px;
  .contentleft p {
    font-size: 20px;
    font-family: $f-primary, sans-serif;
    color: #5f5f5f;
    margin-top: 33px;
  }
}

.homepage_slider_section {
  width: 100%;
  .slider .flex-control-nav {
    display: none;
  }
}

.slides .slidecontents {
  z-index: 2000;
  position: relative;
}

#contentwrapper {
  width: 100%;
  background-color: $subtle-background;
  padding: 70px 0;
}

.right_content {
  ul, ol {
    margin-bottom: 20px;
  }
}

.content_left {
  ul, ol {
    margin-bottom: 20px;
  }
}

.right_content, .content_left {
  p {
    color: #878787;
    font-size: 13px;
    font-family: $f-primary, sans-serif;
    line-height: 22px;
  }
  ul li {
    color: #878787;
    font-size: 13px;
    font-family: $f-primary, sans-serif;
    line-height: 22px;
    a {
      color: #878787;
      font-size: 13px;
      font-family: $f-primary, sans-serif;
      line-height: 22px;
    }
  }
}

.right_content a, .content_left a, .right_content ul li a, .content_left ul li a {
  color: #ff675b;
  font-size: 13px;
  font-family: $f-primary, sans-serif;
}

.right_content a:hover, .content_left a:hover, .right_content ul li a:hover, .content_left ul li a:hover {
  font-size: 13px;
  font-family: $f-primary, sans-serif;
  text-decoration: underline;
}

.right_content ul li, .content_left ul li {
  line-height: 2.0em;
}

.right_content ul li a:hover {
  text-decoration: underline;
  color: #ff675b;
}

.content_left {
  ul li a:hover {
    text-decoration: underline;
    color: #ff675b;
  }
  float: left;
  width: 250px;
  padding: 20px;
  background-color: #f5f5f5;
}

.content_right {
  float: right;
  width: 650px;
}

#bottom_wrapper {
  width: 100%;
  background-color: #ff675b;
  padding: 30px 0 30px 0;
  ul li, ol li {
    color: #ffffff;
  }
  ul li a, ol li a {
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
  h5, a, p {
    color: #ffffff;
  }
  ul li {
    list-style: none;
    a {
      font-size: 14px;
      font-family: $f-primary, sans-serif;
      text-decoration: none;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      outline: none;
      color: #ffffff;
      font-weight: 400;
      line-height: 1.8em;
      &:hover {
        font-size: 14px;
        font-family: $f-primary, sans-serif;
        text-decoration: none;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        outline: none;
        color: #ffffff;
        margin-left: 5px;
        font-weight: 400;
      }
    }
  }
  h5 {
    margin-bottom: 20px;
  }
}

#copyright_wrapper {
  width: 100%;
  background-color: #42484d;
  min-height: 50px;
  padding: 25px 0 0;
}

.copyright_message {
  font-size: 12px;
  color: #868a8d;
  font-family: $f-primary, sans-serif;
  float: left;
  a {
    font-size: 12px;
    color: #868a8d;
    font-family: $f-primary, sans-serif;
    text-decoration: underline;
  }
}

.social_icons {
  float: right;
  a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity = 30);
    opacity: .3;
    &:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity = 100);
      opacity: 1;
    }
  }
}

.employee_social {
  text-align: center;
  margin-top: 20px;
  a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity = 50);
    opacity: .5;
    &:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity = 100);
      opacity: 1;
    }
  }
}

.employee_image_single {
  position: relative;
  margin-bottom: 20px;
}

.employee_image {
  position: relative;
  float: left;
  background: #ff675b;
  margin-bottom: 20px;
  background-image: url("img/read_more.png");
  background-repeat: no-repeat;
  background-position: center center;
  img {
    display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    opacity: 1;
    &:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
      filter: alpha(opacity = 10);
      opacity: .1;
    }
  }
}

.employee_info {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  min-height: 67px;
  .social_icons {
    padding-top: 16px;
  }
  .employee_title {
    text-align: left;
    padding-top: 20px;
  }
}

.case_study_wrapper .one_third, .staff_wrapper .one_third {
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 30%;
}

.casestudy_image {
  position: relative;
  background: #ff675b;
  margin-bottom: 20px;
  background-image: url("img/read_more.png");
  background-repeat: no-repeat;
  background-position: center center;
  img {
    display: block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    opacity: 1;
    max-width: 100%;
    width: 100%;
    &:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
      filter: alpha(opacity = 10);
      opacity: .1;
    }
  }
}

.post_details {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  min-height: 45px;
}

.post_date, .post_comment {
  border-right: 1px solid #d4d4d4;
  color: #878787;
  font-size: 13px;
  font-family: $f-primary,sans-serif;
  float: left;
  padding: 8px 15px 8px 10px;
  a {
    font-size: 13px;
    font-family: $f-primary,sans-serif;
  }
}

.post_read_more {
  color: #383838;
  font-family: $f-primary,sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  float: left;
  padding-left: 10px;
  a {
    color: #383838;
    font-family: $f-primary,sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    float: left;
    padding-left: 10px;
  }
}

.post_read_morecats {
  font-family: $f-primary,sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  float: left;
  padding-left: 10px;
  padding-top: 8px;
}

.post_read_more a {
  margin-top: 8px;
  font-size: 13px;
  font-family: $f-primary,sans-serif;
}

.post_read_morecats a {
  margin-top: 8px;
  font-size: 13px;
  font-family: $f-primary,sans-serif;
  &:after {
    content: ",";
  }
}

.post_read_more a:hover, .post_read_morecats a:hover {
  text-decoration: none;
  margin-left: 10px;
}

.post_read_more a img {
  padding-left: 12px;
  margin-top: -4px;
}

.career_print {
  color: #383838;
  font-family: $f-primary,sans-serif;
  font-size: 13px;
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  a {
    margin-left: 25px;
    font-family: $f-primary,sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #383838;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  &:before {
    content: "d";
    font-family: 'ModernPictogramsNormal';
    font-size: 20px;
    position: absolute;
    color: #8B8A8E;
  }
}

.pdf_download {
  color: #383838;
  font-family: $f-primary,sans-serif;
  font-size: 13px;
  float: left;
  padding-left: 20px;
  padding-top: 10px;
  a {
    margin-left: 25px;
    font-family: $f-primary,sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #383838;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    &:hover {
      color: #FF675B;
      text-decoration: none;
    }
  }
}

.career_print a:hover {
  color: #FF675B;
  text-decoration: none;
}

.pdf_download:before {
  content: "D";
  font-family: 'ModernPictogramsNormal';
  font-size: 20px;
  position: absolute;
  color: #8B8A8E;
}

.career_split {
  border-right: 1px solid #D4D4D4;
  width: 20px;
  float: left;
  height: 45px;
}

.blog_wrapper {
  margin-bottom: 40px;
  float: left;
  width: 100%;
}

/* MENU STYLE */

.topsubmenu {
  float: left;
  //padding-top: 14px;
  ul {
    //padding-top: 12px;
    margin: 0;
    li {
      float: left;
      list-style: none;
      margin-right: 10px;
      a {
        font-family: $f-primary,sans-serif;
        font-size: 12px;
        text-decoration: none;
        color: #ffffff;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.topmenu select {
  display: none;
}

.topmenuwrapper {
  background-color: #3a9ac4;
}

.topmenu {
  float: left;
}

.sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  ul {
    position: absolute;
    top: -999em;
    width: 10em;
    /* left offset of submenus need to match (see below) */
    li {
      width: 100%;
    }
  }
  li {
    &:hover {
      visibility: inherit;
      /* fixes IE7 'sticky bug' */
    }
    float: left;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    display: block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  a {
    display: block;
    position: relative;
  }
}

.webkit .sf-menu li {
  &:hover ul, &.sfHover ul {
    left: 0px;
  }
}

.sf-menu li {
  &:hover ul, &.sfHover ul {
    left: 0px;
    top: 1.4em;
    /* match top ul list item height */
    z-index: 999999;
  }
}

ul.sf-menu li {
  &:hover li ul, &.sfHover li ul {
    top: -999em;
  }
  li {
    &:hover ul, &.sfHover ul {
      left: 10em;
      /* match ul width */
      top: 0;
    }
    &:hover li ul, &.sfHover li ul {
      top: -999em;
    }
    li {
      &:hover ul, &.sfHover ul {
        left: 10em;
        /* match ul width */
        top: 0;
      }
    }
  }
  &.current-menu-item a {
    color: #ffffff;
    background-color: #3083a7;
  }
  ul.sub-menu li.current-menu-item {
    a {
      color: #ffffff;
      background-color: #4baad3;
    }
    li a {
      color: #badcea;
      background-color: transparent;
      &:hover {
        color: #ffffff;
        background-color: #4baad3;
      }
    }
  }
}

/*** DEMO SKIN ***/

.sf-menu li {
  &:hover {
    background-color: #3083a7;
  }
  a {
    color: #badcea;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-family: $f-primary,sans-serif;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
    font-weight: 400;
    padding: 15px;
  }
}

ul.sf-menu li ul.sub-menu li a {
  color: #badcea;
  text-decoration: none;
  display: block;
  font-size: 13px;
  padding: 8px;
  font-family: $f-primary,sans-serif;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  ul li a {
    color: #badcea;
    text-decoration: none;
    display: block;
    font-size: 13px;
    padding: 8px;
    font-family: $f-primary,sans-serif;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  &:hover {
    color: #ffffff;
    background-color: #4baad3;
    text-decoration: none;
    display: block;
    font-size: 13px;
    padding: 8px;
    font-family: $f-primary,sans-serif;
  }
}

.sf-menu {
  li a:hover {
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 13px;
    font-family: $f-primary,sans-serif;
  }
  ul li {
    padding: 0px;
  }
  li {
    li {
      min-width: 170px;
    }
    ul {
      margin-top: 50px;
      padding: 5px;
      background-color: #3083a7;
      &:before {
        border-color: transparent transparent #3083a7;
        border-style: solid;
        border-width: 0 9px 9px;
        content: "";
        height: 0;
        left: 20px;
        position: absolute;
        top: -9px;
        width: 0;
      }
    }
    &:hover, &.sfHover {
      outline: 0;
    }
  }
  a {
    &:focus, &:hover, &:active {
      outline: 0;
    }
    &.sf-with-ul {
      min-width: 1px;
      /* trigger IE7 hasLayout so spans position accurately */
    }
  }
}

/*** arrows **/

.sf-sub-indicator {
  display: none;
}

a {
  > .sf-sub-indicator {
    /* give all except IE6 the correct values */
    top: .8em;
    background-position: 0 -103px;
    /* use translucent arrow for modern browsers*/
  }
  &:focus > .sf-sub-indicator, &:hover > .sf-sub-indicator, &:active > .sf-sub-indicator {
    background-position: -10px -103px;
    /* arrow hovers for modern browsers*/
  }
}

/* apply hovers to modern browsers */

li {
  &:hover > a > .sf-sub-indicator, &.sfHover > a > .sf-sub-indicator {
    background-position: -10px -103px;
    /* arrow hovers for modern browsers*/
  }
}

/* point right for anchors in subs */

.sf-menu ul {
  .sf-sub-indicator {
    background-position: -10px 0;
  }
  a {
    > .sf-sub-indicator {
      background-position: 7px 5px;
    }
    &:focus, &:hover, &:active {
      background-position: -10px 0;
      /* arrow hovers for modern browsers*/
    }
  }
  li {
    &:hover > a, &.sfHover > a {
      background-position: -10px 0;
      /* arrow hovers for modern browsers*/
    }
  }
}

/* apply hovers to modern browsers */

/*** shadows for all but IE6 ***/

.sf-shadow ul {
  padding: 0px;
  margin: 0;
  &.sf-shadow-off {
    background: transparent;
  }
}

ul.sf-menu li ul li a {
  padding: 10px 0 0 0;
  display: block;
  &:hover {
    color: #323232;
  }
}

.sf-menu li ul li ul:before {
  border-color: transparent #3083A7 transparent transparent;
  border-style: solid;
  border-width: 11px 11px 12px 0;
  content: "";
  height: 0;
  left: -9px;
  position: absolute;
  top: 11px;
  width: 0;
}

ul.sf-menu li ul li ul {
  padding: 5px;
  display: block;
  margin: 0px 0px 0px 20px;
}

.sf-menu li {
  li li {
    min-width: 170px;
  }
  ul li ul {
    margin-top: 50px;
    padding: 5px;
    background-color: #3083a7;
  }
}

/*--------------------Search Form----------------------------*/

#searchbox {
  float: right;
  width: 250px;
  //padding: 12px 0 9px 0;
  input {
    background-color: transparent;
    border: 3px solid #363b3f;
    color: #8B8A8E;
    font-family: $f-primary,sans-serif;
    font-size: 12px;
    outline: medium none;
    width: 232px;
    padding: 6px;
    -webkit-appearance: none;
    border-radius: 0;
    &:focus {
      color: #8b8a8e;
      border: none;
      font-family: $f-primary, sans-serif;
      font-size: 12px;
      outline: none;
      background-color: #363b3f;
      border: 3px solid #363b3f;
      width: 232px;
      padding: 6px;
      -webkit-appearance: none;
      border-radius: 0;
    }
  }
}

.searchme {
  &:after {
    content: "s";
    font-family: 'ModernPictogramsNormal';
    font-size: 20px;
    position: absolute;
    color: #8B8A8E;
  }
  display: inline-block;
  width: 24px;
  height: 22px;
  background-color: #363b3f;
  float: right;
  padding: 5px 5px 5px 15px;
  margin-top: -50px;
}

/*--------------------Pagination----------------------------*/

#pagination {
  width: 900px;
  margin: 0 auto;
  min-height: 110px;
  padding-top: 30px;
}

.pagination {
  clear: both;
  padding: 20px 0;
  position: relative;
  font-size: 12px;
  text-align: center;
  span {
    display: inline-block;
    margin: 3px 15px 0px 0px;
    padding: 11px 25px;
    text-decoration: none;
    width: auto;
    color: #656565;
    min-width: 25px;
    font-weight: 400;
    font-family: $f-primary, sans-serif;
    text-transform: uppercase;
  }
  a {
    display: inline-block;
    margin: 3px 15px 0px 0px;
    padding: 11px 25px;
    text-decoration: none;
    width: auto;
    color: #656565;
    min-width: 25px;
    font-weight: 400;
    font-family: $f-primary, sans-serif;
    text-transform: uppercase;
    background-color: #f5f5f5;
    font-size: 12px;
    &:hover {
      font-size: 12px;
      color: #ffffff;
      background-color: #42484D;
    }
  }
  .current {
    padding: 11px 12px;
    color: #ffffff;
    background-color: #FF675B;
  }
  .inactive {
    padding: 11px 12px;
  }
  span {
    color: #656565;
    background-color: #f5f5f5;
  }
}

/*--------------------Shortcodes----------------------------*/

.hrr {
  border: none;
  clear: both;
  margin-bottom: 54px;
  margin-top: 44px;
  border-bottom: 1px solid #d4d4d4;
}

.one_half, .one_half_first, .one_third, .one_third_first, .two_third, .two_third_first, .one_fourth, .one_fourth_first, .three_fourth, .three_fourth_first, .one_fifth, .one_fifth_first, .two_fifth, .two_fifth_first, .three_fifth, .three_fifth_first, .four_fifth, .four_fifth_first, .one_sixth, .one_sixth_first {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #656565;
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 300;
}

.one_half {
  width: 48%;
}

.one_third {
  width: 30%;
}

.two_third {
  width: 65.33%;
}

.one_fourth {
  width: 22%;
}

.three_fourth {
  width: 74%;
}

.one_fifth {
  width: 16.8%;
}

.two_fifth {
  width: 37.6%;
}

.three_fifth {
  width: 58.4%;
}

.four_fifth {
  width: 79%;
}

.one_sixth {
  width: 13.33%;
}

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .one_third_bottom {
  position: relative;
  margin-left: 4%;
  float: left;
}

.one_half_first {
  width: 48%;
  position: relative;
  clear: left;
  margin-left: 0;
  float: left;
}

.one_third_first {
  width: 30.66%;
  position: relative;
  clear: left;
  margin-left: 0;
  float: left;
}

.one_third_first_bottom {
  width: 30.66%;
  position: relative;
  clear: left;
  margin-left: 0;
  float: left;
  margin-top: 25px;
}

.one_third_bottom {
  margin-top: 25px;
}

.one_fourth_first {
  width: 22%;
  position: relative;
  clear: left;
  margin-left: 0;
  float: left;
}

.one_fifth_first {
  width: 16.8%;
  position: relative;
  clear: left;
  margin-left: 0;
  float: left;
}

.one_sixth_first {
  width: 13.33%;
  position: relative;
  clear: left;
  margin-left: 0;
  float: left;
}

.two_third_first {
  width: 65.33%;
  position: relative;
  clear: left;
  margin-left: 0;
  float: left;
}

.three_fourth_first {
  width: 74%;
  position: relative;
  clear: left;
  margin-left: 0;
  float: left;
}

.two_fifth_first {
  width: 37.6%;
  position: relative;
  clear: left;
  margin-left: 0;
  float: left;
}

.three_fifth_first {
  width: 58.4%;
  position: relative;
  clear: left;
  margin-left: 0;
  float: left;
}

.four_fifth_first {
  width: 79%;
  position: relative;
  clear: left;
  margin-left: 0;
  float: left;
}

.center {
  text-align: center;
  p {
    margin-bottom: 35px;
  }
}

img {
  border: none;
  &.left {
    border: none;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  &.lefthome {
    border: none;
    float: left;
    margin-right: 8px;
    margin-bottom: 0px;
    box-shadow: none;
    margin-top: 10px;
  }
  &.right {
    border: none;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.alignleft {
  border: none;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.alignright {
  border: none;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.alert_red {
  &:before {
    border-color: #FF675B transparent transparent transparent;
    border-style: solid;
    border-width: 14px 13px 0px;
    content: "";
    height: 0;
    left: 14px;
    position: absolute;
    bottom: -13px;
    width: 0;
  }
  padding: 20px 25px 25px 25px;
  clear: both;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
  color: #ffffff;
  background-color: #FF675B;
  font-weight: 400;
  position: relative;
  p {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  a {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 400;
    &:hover {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      text-decoration: underline;
      font-weight: 400;
    }
  }
}

.alert_green {
  &:before {
    border-color: #47bd9d transparent transparent transparent;
    border-style: solid;
    border-width: 14px 13px 0px;
    content: "";
    height: 0;
    left: 14px;
    position: absolute;
    bottom: -13px;
    width: 0;
  }
  padding: 20px 25px 25px 25px;
  clear: both;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
  color: #ffffff;
  background-color: #47bd9d;
  font-weight: 400;
  position: relative;
  p {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  a {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 400;
    &:hover {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      text-decoration: underline;
      font-weight: 400;
    }
  }
}

.alert_yellow {
  &:before {
    border-color: #f7c53b transparent transparent transparent;
    border-style: solid;
    border-width: 14px 13px 0px;
    content: "";
    height: 0;
    left: 14px;
    position: absolute;
    bottom: -13px;
    width: 0;
  }
  padding: 20px 25px 25px 25px;
  clear: both;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
  color: #ffffff;
  background-color: #f7c53b;
  font-weight: 400;
  position: relative;
  p {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  a {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    &:hover {
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
    }
  }
}

.alert_blue {
  &:before {
    border-color: #4baad3 transparent transparent transparent;
    border-style: solid;
    border-width: 14px 13px 0px;
    content: "";
    height: 0;
    left: 14px;
    position: absolute;
    bottom: -13px;
    width: 0;
  }
  padding: 20px 25px 25px 25px;
  clear: both;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
  color: #ffffff;
  background-color: #4baad3;
  font-weight: 400;
  position: relative;
  p {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  a {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 400;
    &:hover {
      color: #4671a3;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      text-decoration: underline;
    }
  }
}

.intro {
  color: #383838;
  font-family: $f-primary,sans-serif;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 500;
  a {
    font-family: $f-primary,sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    margin-bottom: 25px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    &:hover {
      font-family: $f-primary,sans-serif;
      font-size: 18px;
      line-height: 1.4em;
      margin-bottom: 25px;
      text-decoration: underline;
    }
  }
}

.quote {
  font-family: $f-primary, sans-serif;
  font-size: 24px;
  color: #4BAAD3;
  line-height: 1.4em;
  clear: none;
  margin: 20px 0 20px 0;
  font-weight: 200;
}

blockquote {
  font-family: $f-primary, sans-serif;
  font-size: 24px;
  color: #4BAAD3;
  line-height: 1.4em;
  clear: none;
  margin: 20px 0 20px 0;
  font-weight: 200;
  p {
    font-family: $f-primary, sans-serif;
    font-size: 24px;
    color: #4BAAD3;
    line-height: 1.4em;
    clear: none;
    margin: 20px 0 20px 0;
    font-weight: 200;
  }
}

.quote p {
  font-family: $f-primary, sans-serif;
  font-size: 24px;
  color: #4BAAD3;
  line-height: 1.4em;
  clear: none;
  margin: 20px 0 20px 0;
  font-weight: 200;
}

.quotepost {
  blockquote p, &.quote p, blockquote {
    font-family: $f-primary, sans-serif;
    font-size: 24px;
    color: #ffffff;
    line-height: 1.4em;
    clear: none;
    margin: 0px 0px 10px 0px;
    font-weight: 200;
  }
  &:before {
    border-color: transparent transparent #4baad3 transparent;
    border-style: solid;
    border-width: 0px 20px 20px 20px;
    content: "";
    height: 0;
    left: 14px;
    position: absolute;
    top: -12px;
    width: 0;
  }
  background-color: #4BAAD3;
  padding: 30px;
  position: relative;
  margin-bottom: 30px;
}

.linkpost {
  background-color: #47BD9D;
  padding: 20px;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  a {
    background-color: #47BD9D;
    padding: 20px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    &:hover {
      background-color: #47BD9D;
      padding: 20px;
      color: #ffffff;
      font-size: 20px;
      text-decoration: none;
    }
    &:before {
      content: "o";
      font-family: 'ModernPictogramsNormal';
      color: #ffffff;
      font-size: 20px;
      margin-right: 20px;
    }
  }
}

.pullquoteleft {
  padding: 0 14px 0 0;
  text-align: left;
  font-family: $f-primary, sans-serif;
  font-size: 24px;
  color: #4BAAD3;
  float: left;
  width: 40%;
  margin: 5px 30px 30px 0;
  line-height: 1.4em;
  font-weight: 200;
}

.pullquoteright {
  margin: 5px 0 30px;
  padding: 0 0px 0 50px;
  text-align: left;
  font-family: $f-primary, sans-serif;
  font-size: 24px;
  color: #4BAAD3;
  float: right;
  width: 40%;
  line-height: 1.4em;
  font-weight: 200;
}

/*--------------------Flexislider---------------------------*/

.slider_wrapper {
  position: relative;
  z-index: 999;
  width: $desk;
  margin: 0 auto;
  clear: both;
  margin-top: 25px;
  h2 {
    color: #ffffff;
    margin-top: 0;
  }
  a {
    font-size: 18px;
    text-decoration: underline;
    color: #ffffff;
    &:hover {
      font-size: 18px;
      text-decoration: underline;
      color: #ffffff;
    }
  }
  p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
  }
}

.flex-container a:active, .slider a:active, .flex-container a:focus, .slider a:focus {
  outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
}

.slider {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1999;
  padding-top: 30px;
  .one_half, .one_half_first, .one_third, .one_third_first, .two_third, .two_third_first, .one_fourth, .one_fourth_first, .three_fourth, .three_fourth_first, .one_fifth, .one_fifth_first, .two_fifth, .two_fifth_first, .three_fifth, .three_fifth_first, .four_fifth, .four_fifth_first, .one_sixth, .one_sixth_first, .one_half a, .one_half_first a, .one_third a, .one_third_first a, .two_third a, .two_third_first a, .one_fourth a, .one_fourth_first a, .three_fourth a, .three_fourth_first a, .one_fifth a, .one_fifth_first a, .two_fifth a, .two_fifth_first a, .three_fifth a, .three_fifth_first a, .four_fifth a, .four_fifth_first a, .one_sixth a, .one_sixth_first a {
    margin-bottom: 0;
    margin-top: 0;
  }
  .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
  }
}

ul.slides {
  li {
    img {
      width: 100%;
      display: block;
      max-width: 100%;
      height: auto;
      a {
        width: 100%;
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    width: 100%;
    z-index: 2;
    height: auto;
    list-style: none;
  }
  list-style: none;
  border: none;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
 *********************************/

.slider .slides {
  zoom: 1;
}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */

.flex-container {
  zoom: 1;
  position: relative;
}

/* Caption style */
/* IE rgba() hack */

.flex-caption {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
  zoom: 1;
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
  zoom: 1;
  min-height: 223px;
  width: 96%;
  padding: 2%;
  position: relative;
  left: 0;
  bottom: 0;
  background: transparent;
  font-size: 14px;
  line-height: 28px;
  color: #656565;
  h4 {
    margin-top: 30px;
    color: #656565;
  }
  p, a {
    font-size: 14px;
  }
}

/* Direction Nav */

.slider {
  .flex-direction-nav {
    background: url("img/slider-arrows-horizontal.png") no-repeat scroll -9999px -9999px transparent;
    display: none;
    height: 0;
    list-style: none outside none;
  }
  &:hover .flex-direction-nav {
    display: block;
  }
}

.dynoloop .slider:hover .flex-direction-nav {
  display: none;
}

ul.flex-direction-nav li {
  list-style: none;
}

.flex-direction-nav li {
  a {
    width: 52px;
    height: 52px;
    margin: 22px 0 0;
    display: block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    text-indent: -999em;
    -webkit-transition: all 0.0s ease-in;
    -moz-transition: all 0.0s ease-in;
    -o-transition: all 0.0s ease-in;
    transition: all 0.0s ease-in;
  }
  .next {
    background: url("img/slider-arrows-horizontal.png") no-repeat scroll 0 -18px transparent;
    height: 18px;
    margin-top: -8px;
    position: absolute;
    right: 10px;
    text-indent: -9999px;
    top: 50%;
    width: 13px;
    z-index: 30;
  }
  .prev {
    background: url("img/slider-arrows-horizontal.png") no-repeat scroll 0 0 transparent;
    height: 18px;
    left: 10px;
    margin-top: -8px;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 13px;
    z-index: 30;
  }
}

/*Control Nav */

.flex-control-nav {
  background: url("img/slider-dots.png") no-repeat scroll -9999px -9999px transparent;
  bottom: 10px;
  line-height: 0;
  list-style: none outside none;
  margin-left: 5px;
  position: absolute;
  z-index: 4999;
  width: 100% !important;
  text-align: center !important;
  li {
    display: inline-block;
    margin: 0 0 0 5px;
    a {
      background: url("img/slider-dots.png") no-repeat scroll 0 0 transparent;
      cursor: pointer;
      display: block;
      float: left;
      height: 14px;
      position: relative;
      text-indent: -9999px;
      width: 14px;
      z-index: 50;
      &.active, &:hover, &.flex-active, &:hover {
        background-position: 0 -14px;
      }
    }
  }
}

.homepage_slider_section .slider .flex-direction-nav {
  li {
    .prev, .next {
      background-color: #42484d;
    }
    .prev:hover, .next:hover {
      background-color: #ff675b;
    }
    a {
      display: block;
      position: absolute;
      cursor: pointer;
      text-indent: -999em;
      -webkit-transition: all 0.0s ease-in;
      -moz-transition: all 0.0s ease-in;
      -o-transition: all 0.0s ease-in;
      transition: all 0.0s ease-in;
    }
    .next {
      background-image: url("img/nextp.png");
      background-repeat: no-repeat;
      background-position: center center;
      color: transparent;
      float: left;
      font-size: 0;
      height: 23px;
      line-height: 1.6em;
      width: 23px;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      right: 0;
      margin: 0;
      bottom: 0;
      top: 0;
    }
    .prev {
      background-image: url("img/previousp.png");
      background-repeat: no-repeat;
      background-position: center center;
      color: transparent;
      float: left;
      font-size: 0;
      height: 23px;
      line-height: 1.6em;
      width: 23px;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      left: 0;
      margin: 0;
      bottom: 0;
      top: 0;
    }
    .disabled {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity = 30);
      opacity: .3;
      cursor: default;
    }
  }
  position: relative;
  z-index: 5000;
  width: 10%;
  display: block;
}

/*--------------------Forms, Inputs & Submits----------------------------*/

.error {
  color: #FF675B;
}

#contact_form {
  background-color: #f5f5f5;
  padding: 20px 20px 60px 20px;
  width: 96%;
  label {
    color: #656565;
    font-weight: 400;
  }
}

textarea {
  margin-bottom: 15px;
  background-color: #ffffff;
  color: #656565;
  padding: 8px;
  font-family: $f-primary, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  border: none;
  border: 1px solid #e6e5e0;
  margin-top: 10px;
  width: 98%;
  max-width: 98%;
  min-width: 98%;
  -webkit-appearance: none;
  border-radius: 0;
  &:focus {
    background: none;
    color: #656565;
    background-color: #ffffff;
    outline: none;
    border: none;
    border: 1px solid #26AE90;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
  }
}

input {
  &[type=text], 
  &[type=email],
  &[type=password] {
    background: none;
    background-color: #ffffff;
    width: 98%;
    margin-bottom: 15px;
    color: #656565;
    padding: 8px;
    font-family: $f-primary, sans-serif;
    font-size: 16px;
    outline: none;
    font-weight: 400;
    transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    border: none;
    border: 1px solid #e6e5e0;
    margin-top: 10px;
    -webkit-appearance: none;
    border-radius: 0;
  }
  &[type=text]:focus, &[type=email]:focus {
    background: none;
    color: #656565;
    background-color: #ffffff;
    outline: none;
    border: none;
    border: 1px solid #26AE90;
    -webkit-appearance: none;
    border-radius: 0;
    font-weight: 400;
  }
  /*
  &[type=submit] {
    margin-bottom: 0;
    margin-top: -8px;
    text-decoration: none;
    float: left;
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-family: $f-primary,sans-serif;
    border: none;
    padding: 10px 30px 10px 30px;
    transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    background-color: #FF675B;
    text-transform: uppercase;
    border-radius: 0;
    &:hover {
      margin-bottom: 0;
      margin-top: -8px;
      background-color: #42484d;
      text-decoration: none;
      float: left;
      display: block;
      color: #f5f4f2;
      font-size: 14px;
      font-family: $f-primary,sans-serif;
      border: none;
      padding: 10px 30px 10px 30px;
      text-transform: uppercase;
      border-radius: 0;
      text-decoration: none;
      float: left;
      display: block;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      font-family: $f-primary,sans-serif;
      border: none;
      border-bottom: 3px solid #42484d;
      padding: 10px 30px 7px 46px;
      background: url("img/mail.png") no-repeat scroll 19px 11px #42484d;
      text-transform: uppercase;
    }
    text-decoration: none;
    float: left;
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: $f-primary,sans-serif;
    border: none;
    border-bottom: 3px solid #DD4A38;
    padding: 10px 30px 7px 46px;
    background: url("img/mail.png") no-repeat scroll 19px 11px #ff675b;
    transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    text-transform: uppercase;
  }
  */
  &:focus {
    outline: none;
  }
}

.comment_wrapper_main {
  margin-top: 75px;
}

#commentform {
  margin: 0px;
  float: left;
  margin-top: 25px;
  padding: 20px 20px 30px;
  background-color: #f5f5f5;
  .form-allowed-tags {
    font-size: 12px;
    line-height: 1.6em;
    padding-bottom: 20px;
  }
}

#form_wrapper {
  width: 100%;
  min-height: 150px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.comment_wrapper_main_right {
  width: 680px;
}

#post_comment_wrapper {
  display: block;
  clear: both;
  margin-top: 25px;
}

/****** START OF Post comment styling by jonathan **/

a#cancel-comment-reply-link {
  font-size: 16px;
  color: #FF675B;
}

.comment_title {
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #434244;
  margin-top: 60px;
  a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      text-decoration: underline;
    }
  }
}

.comment-author-avatar {
  float: left;
  margin-right: 20px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.comment-main {
  overflow: hidden;
  padding-bottom: 25px;
}

.comment-content {
  color: #6a696c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  float: left;
  width: 100%;
}

.cancel-comment-reply {
  margin-top: 5px;
}

.comment-meta {
  margin-bottom: 10px;
  margin-top: -4px;
}

.comment-author {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #383838;
}

.cancel-comment-reply a {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
  }
}

a.comment-reply-link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  display: inline-block;
  margin-top: -26px;
  float: right;
  &:hover {
    text-decoration: underline;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
  }
}

span.wpcf7-not-valid-tip {
  background: none repeat scroll 0 0 transparent !important;
  left: 8px !important;
  border: none !important;
  top: -5px !important;
  color: transparent !important;
  font-family: $f-primary,sans-serif !important;
  font-size: 0 !important;
}

div {
  &.wpcf7-validation-errors {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #FF675B !important;
    font-family: $f-primary,sans-serif !important;
    font-size: 16px !important;
  }
  &.wpcf7-mail-sent-ok {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #26AE90 !important;
    font-family: $f-primary,sans-serif !important;
    font-size: 16px !important;
  }
}

#commentform {
  input.error, textarea.error {
    border: 1px solid #FF675B;
    font-family: $f-primary,sans-serif;
    font-size: 16px;
    display: block;
    clear: both;
    padding-top: 20px;
  }
}

.wpcf7 {
  input.wpcf7-not-valid, textarea.wpcf7-not-valid {
    border: 1px solid #FF675B;
    font-family: $f-primary,sans-serif;
    font-size: 16px;
    display: block;
    clear: both;
    padding-top: 20px;
  }
}

.error {
  color: #FF675B;
  font-family: $f-primary,sans-serif;
  font-size: 16px;
  display: block;
  clear: both;
  padding-top: 20px;
}

/****** END OF Post comment styling by jonathan **/

ul.children {
  padding-left: 45px;
  list-style: none;
  margin-top: 20px;
  li {
    p {
      text-indent: 0px;
      margin-left: 14px;
    }
    .comment-author-avatar {
      margin-right: 8px;
    }
  }
}

.comment {
  float: right;
  display: block;
  width: 100%;
  padding-top: 20px;
}

.commentlist {
  width: 100%;
  li {
    margin-bottom: 30px;
    position: relative;
    list-style: none;
    background: none;
    border: none;
    border-bottom: 1px solid #dddddd;
    clear: both;
    margin-bottom: 15px;
    float: left;
    &:first-child {
      border-bottom: 1px solid #dddddd;
    }
    &:last-child {
      margin-bottom: 0px;
      background-color: none;
    }
  }
  ul {
    float: none;
    position: relative;
    z-index: 99;
  }
}

.fn {
  margin-left: 5px;
}

.reply {
  float: right;
}

.commentlist p {
  color: #6A696C;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  margin: 0;
}

.posted_date {
  color: #767676;
  font-family: $f-primary,sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  display: block;
  a {
    color: #c52020;
    font-family: $f-primary,sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    &:hover {
      color: #c52020;
      font-family: $f-primary,sans-serif;
      font-size: 10px;
      font-weight: normal;
      text-decoration: underline;
      font-style: normal;
    }
  }
}

#respond {
  clear: both;
  padding-top: 20px;
}

.commentlist ul.children li {
  border-top: 1px solid #dddddd;
  border-bottom: none;
  text-indent: 14px;
  padding-top: 30px;
}

div.wpcf7 {
  background-color: #F5F5F5;
  margin: 0;
  padding: 20px 20px 30px !important;
}

/*-------------------- Accordion ----------------------------*/

.collapseomatic {
  background-image: none !important;
  padding: 0 0 0 40px !important;
  background-color: #4BAAD3;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-bottom: 0px solid #dbdbdb;
  border-top: 0px solid #dbdbdb;
  display: block;
  text-decoration: none;
  font-family: $f-primary, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  line-height: 2.6em;
  clear: both;
  margin-bottom: 2px;
  &:before {
    font-family: 'ModernPictogramsNormal';
    font-size: 32px;
    content: "+";
    position: absolute;
    color: #ffffff;
    margin-left: -27px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity = 50);
    opacity: .5;
  }
}

.collapseomatic_excerpt, .collapseomatic_content {
  background-color: none;
  margin-bottom: 25px;
  margin-left: 0px !important;
  margin-right: 0px !important;
  float: left;
  _float: none;
  /* Float works in all browsers but IE6 */
  font-family: $f-primary, sans-serif;
  font-size: 14px;
  margin-top: 8px !important;
  padding: 16px!important;
  border-bottom: none;
  text-decoration: none;
}

.colomat-open {
  background-image: none !important;
}

.colomat-close {
  background-color: #47BD9D !important;
  border-bottom: 0 solid #DBDBDB !important;
  border-top: 0 solid #DBDBDB !important;
  color: #FFFFFF !important;
}

.colomat-hover {
  text-decoration: none !important;
  color: #ffffff;
}

.collapseomatic:hover {
  background-color: #42484d !important;
  color: #ffffff !important;
  border-bottom: 0px solid #dbdbdb !important;
  border-top: 0px solid #dbdbdb !important;
}

/*-------------------- Button Styling ----------------------------*/

.button_red, .button_green, .button_blue, .button_green_image, .button_red_image, .button_blue_image {
  display: block;
  position: relative;
  margin: 25px 0 25px 0;
}

.button_red a {
  text-decoration: none;
  float: left;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-family: $f-primary,sans-serif;
  font-weight: 500;
  border: none;
  padding: 10px 30px 7px 30px;
  border-bottom: 3px solid #dd4a38;
  transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  background-color: #FF675B;
  text-transform: uppercase;
  &:hover {
    background-color: #42484d;
    text-decoration: none;
    float: left;
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: $f-primary,sans-serif;
    border: none;
    border-bottom: 3px solid #42484d;
    padding: 10px 30px 7px 30px;
    text-transform: uppercase;
  }
}

.button_green a {
  background-color: #26ae90;
  text-decoration: none;
  float: left;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: $f-primary,sans-serif;
  border: none;
  border-bottom: 3px solid #1A7763;
  padding: 10px 30px 7px 30px;
  transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    float: left;
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: $f-primary,sans-serif;
    border: none;
    border-bottom: 3px solid #42484d;
    padding: 10px 30px 7px 30px;
    background-color: #42484d;
    text-transform: uppercase;
  }
}

.button_blue a {
  background-color: #4baad3;
  text-decoration: none;
  float: left;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: $f-primary,sans-serif;
  border: none;
  border-bottom: 3px solid #3083a7;
  padding: 10px 30px 7px 30px;
  transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    float: left;
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    font-family: $f-primary,sans-serif;
    border: none;
    border-bottom: 3px solid #42484d;
    padding: 10px 30px 7px 30px;
    background-color: #42484d;
    text-transform: uppercase;
  }
}

object, embed, video, iframe {
  max-width: 100%;
}

#topmenu select {
  visibility: hidden;
}

.button_green_image a {
  text-decoration: none;
  float: left;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: $f-primary,sans-serif;
  border: none;
  border-bottom: 3px solid #1A7763;
  padding: 10px 30px 7px 46px;
  background: url("img/link.png") no-repeat scroll 19px 13px #26ae90;
  transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  text-transform: uppercase;
}

.button_red_image a {
  text-decoration: none;
  float: left;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: $f-primary,sans-serif;
  border: none;
  border-bottom: 3px solid #dd4a38;
  padding: 10px 30px 7px 46px;
  background: url("img/link.png") no-repeat scroll 19px 13px #ff675b;
  transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  text-transform: uppercase;
}

.button_blue_image a {
  text-decoration: none;
  float: left;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: $f-primary,sans-serif;
  border: none;
  border-bottom: 3px solid #3083a7;
  padding: 10px 30px 7px 46px;
  background: url("img/link.png") no-repeat scroll 19px 13px #4baad3;
  transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  text-transform: uppercase;
}

.button_green_image a:hover, .button_red_image a:hover, .button_blue_image a:hover {
  text-decoration: none;
  float: left;
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: $f-primary,sans-serif;
  border: none;
  border-bottom: 3px solid #42484d;
  padding: 10px 30px 7px 46px;
  background: url("img/link.png") no-repeat scroll 19px 13px #42484d;
  text-transform: uppercase;
}

.button_tag {
  display: inline-block;
  margin: 0px;
  position: relative;
  a {
    background-color: $subtle-background;
    color: #878787;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-family: $f-primary,sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin: 0px 8px 8px 0px;
    padding: 3px 8px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    &:hover {
      background-color: #ff675b;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

/*--------------------Pricing Table----------------------------*/

.pricetable {
  width: 95% !important;
  margin-bottom: 80px !important;
  margin-top: 80px !important;
  background: transparent !important;
  background: transparent !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.pricetable-standard .pricetable-header {
  background-color: #4BAAD3 !important;
}

.pricetable-inner {
  border: 0px solid #4baad3 !important;
  box-shadow: none !important;
  border-radius: 0px 0px 0px 0px !important;
  background-color: transparent !important;
}

.pricetable .pricetable-column {
  position: relative !important;
  &.pricetable-standard {
    border: 1px solid #4BAAD3 !important;
    z-index: 1 !important;
  }
  &.pricetable-featured {
    border: 1px solid #4BAAD3 !important;
    z-index: 99 !important;
    border: 1px solid #1A7763 !important;
    padding: 0px !important;
    border-radius: 0px 0px 0px 0px !important;
  }
}

.pricetable-featured .pricetable-header {
  background-color: #26ae90 !important;
}

.pricetable {
  .pricetable-column.pricetable-featured .pricetable-column-inner {
    background-color: transparent !important;
    border-radius: 0px 0px 0px 0px !important;
  }
  h3.pricetable-name, h4.pricetable-price {
    /* Override the post content height */
    line-height: 1 !important;
    margin: 0 !important;
    font-family: $f-primary,sans-serif !important;
    border-width: 0px !important;
  }
  h3.pricetable-name {
    font-weight: normal !important;
    font-size: 20px !important;
    color: #ffffff !important;
    background-color: #3083a7 !important;
  }
}

/* @group Headers */

.pricetable-featured h3.pricetable-name {
  font-weight: normal !important;
  font-size: 20px !important;
  color: #ffffff !important;
  background-color: #1a7763 !important;
  padding: 24px 14px 24px !important;
}

.pricetable h4.pricetable-price {
  text-align: center !important;
  color: #ffffff !important;
  background-color: #4baad3 !important;
  font-size: 75px !important;
  font-weight: 200 !important;
  font-style: normal !important;
}

.pricetable-featured h4.pricetable-price {
  text-align: center !important;
  color: #ffffff !important;
  background-color: #26ae90 !important;
  font-size: 90px !important;
  font-weight: 200 !important;
  font-style: normal !important;
}

.pricetable {
  .pricetable-featured! h4.pricetable-price {}
  .pricetable-header p {
    text-align: center !important;
    background-color: #4BAAD3 !important;
    font-size: 14px !important;
    color: #ffffff !important;
    font-style: italic !important;
    font-weight: 200 !important;
    padding-bottom: 15px !important;
    margin: 0px !important;
  }
}

.pricetable-featured .pricetable-header p {
  text-align: center !important;
  background-color: #26ae90 !important;
  font-size: 14px !important;
  color: #ffffff !important;
  font-style: italic !important;
  font-weight: 200 !important;
  padding-bottom: 15px !important;
  margin: 0px !important;
}

/* @end */

/* @group Features */

.pricetable .pricetable-feature {
  font: 18px $f-primary,sans-serif !important;
  text-align: center !important;
  border-top: 1px dashed #4BAAD3 !important;
  color: #6c6c6c !important;
  padding: 15px 0 !important;
}

.pricetable-featured .pricetable-feature {
  font: 18px $f-primary,sans-serif !important;
  text-align: center !important;
  border-top: 1px dashed #26AE90 !important;
  color: #6c6c6c !important;
  padding: 15px 0 !important;
}

.pricetable .pricetable-feature {
  &:first-child {
    border-top: 1px solid transparent !important;
  }
  small {
    font-size: 18px !important;
    font-style: italic;
    font-weight: 200;
    color: #6c6c6c !important;
    margin-top: 0px !important;
  }
  &:last-child {
    text-align: center !important;
    border-bottom: 1px dashed #4BAAD3 !important;
  }
}

.pricetable-featured .pricetable-feature:last-child {
  text-align: center !important;
  border-bottom: 1px dashed #26AE90 !important;
}

.pricetable .pricetable-button-container {
  margin: 30px 0px 30px 0px !important;
  padding: 0px !important;
}

.pricetable-featured .pricetable-button-container {
  margin: 45px 0px 45px 0px !important;
  padding: 0px !important;
}

.pricetable-column .pricetable-standard {
  position: relative !important;
}

/* @end */

/* @group Button */

.pricetable .pricetable-button-container a {
  -webkit-border-radius: 0px!important;
  -moz-border-radius: 0px!important;
  border-radius: 0px!important;
  .pricetable-gradient, .pricetable-noise {
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
  }
  color: #ffffff !important;
  font-family: $f-primary,sans-serif !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  text-decoration: none;
  border: 0px solid transparent !important;
  /* Soften the border */
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  .pricetable-gradient {
    background: -moz-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 228, 175, 0)), color-stop(100%, rgba(227, 193, 75, 0))) !important;
    background: -webkit-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
    background: -o-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
    background: -ms-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
    background: linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4BAAD3', endColorstr='#4BAAD3',GradientType=0 ) !important;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-color: #4BAAD3 !important;
    border-bottom: 3px solid #3083a7 !important;
  }
}

.pricetable-featured .pricetable-button-container a .pricetable-gradient {
  background: -moz-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 228, 175, 0)), color-stop(100%, rgba(227, 193, 75, 0))) !important;
  background: -webkit-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
  background: -o-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
  background: -ms-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
  background: linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26ae90', endColorstr='#26ae90',GradientType=0 ) !important;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #26ae90 !important;
  border-bottom: 3px solid #1A7763 !important;
}

.pricetable {
  .pricetable-button-container a:hover .pricetable-gradient {
    background: -moz-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 228, 175, 0)), color-stop(100%, rgba(227, 193, 75, 0))) !important;
    background: -webkit-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
    background: -o-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
    background: -ms-linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
    background: linear-gradient(top, rgba(243, 228, 175, 0) 0%, rgba(227, 193, 75, 0) 0%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#42484d', endColorstr='#42484d',GradientType=0 ) !important;
    background-color: #42484d !important;
    border-bottom: 3px solid #42484d !important;
  }
  .pricetable-column.pricetable-featured {
    background: none repeat scroll 0 0 transparent !important;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1) !important;
    -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1) !important;
    -o-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1) !important;
  }
  .pricetable-featured .pricetable-button-container {
    background: none repeat scroll 0 0 transparent !important;
    border-top: none !important;
  }
}

/*--------------------Media Element Styling----------------------------*/

.mejs-container {
  height: 100% !important;
  margin-bottom: 25px;
  width: 100% !important;
  padding-top: 30px;
  background: none !important;
}

.mejs-controls {
  .mejs-time-rail {
    .mejs-time-loaded {
      background: none !important;
      background: repeat scroll 0 0 #535456 !important;
      border-radius: 0px 0px 0px 0px !important;
    }
    .mejs-time-current {
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(200, 200, 200, 0)) repeat scroll 0 0 transparent !important;
      background: none !important;
      background: repeat scroll 0 0 #49AAD3 !important;
    }
  }
  .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: none !important;
    background: repeat scroll 0 0 #49AAD3 !important;
    border-radius: 0px 0px 0px 0px !important;
  }
}

.mejs-container .mejs-controls {
  .mejs-time span {
    color: #ffffff !important;
    border-radius: 2px 2px 2px 2px !important;
    background: linear-gradient(#4a4b4d, #2c2e2d) repeat scroll 0 0 transparent !important;
  }
  border-radius: 2px 2px 2px 2px !important;
  background: linear-gradient(#4a4b4d, #2c2e2d) repeat scroll 0 0 transparent !important;
}

.mejs-controls {
  .mejs-time-rail {
    span {
      border-radius: 0px 0px 0px 0px !important;
    }
    .mejs-time-total {
      background: #232728 !important;
      border-radius: 0px 0px 0px 0px !important;
    }
  }
  .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: #232728 !important;
    border-radius: 0px 0px 0px 0px !important;
  }
}

@import "css/_site-id.scss";