body.home {
	
	#header_wrapper {
		background-image: url(img/graybgrnd.jpg);
		.content_wrapper {
			position: relative;
			min-height: 800px;
			
			@include break(mobile) {
				min-height: 600px;
			}
			
			&.category-host {
				height: auto;
			}
			
		}
	}
	
	// Shop Index //
	.shop-index {
		.header_right_column {
		
			position: absolute;
			width: 100%;
			z-index: 2;
			text-align: center;
			left: 0; right: 0;
			//@include col-last(1,2,0);
			//padding: 50px 0 0;
			
			#logo {
				padding: 30px 0;
			}
				
			h1 {
				font-size: 4em;
				@include break(v-tablet) {
					font-size: 3em;
				}
				@include break(mobile) {
					font-size: 2em;
				}
			}
			
			@include break(mobile) {
				width: 100%;
				float: none;
				padding: 0px 0 0;
			}
			
		}
		
		.darken {
			width: 60%;
			text-align: left;
			margin: 250px auto 0;
			//height: 150px;
			color: white;
			$shadow_opacity: 0.25;
			$background_start_opacity: 0.90;
			$background_end_opacity: 0.65;
			/*
			background-image: url('img/graybgrnd.jpg');
			@include trans-bg(#000000,.5);
			-webkit-box-shadow: 0 8px 6px -6px black;
			-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
*/
			
			-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, $shadow_opacity), 0 1px 0 rgba(255, 255, 255, $shadow_opacity);
		  	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, $shadow_opacity), 0 1px 0 rgba(255, 255, 255, $shadow_opacity);
		  	box-shadow: inset 0 1px 3px rgba(0, 0, 0, $shadow_opacity), 0 1px 0 rgba(255, 255, 255, $shadow_opacity);
			background-color: transparent;  
			background: -webkit-linear-gradient(rgba(0, 0, 0, $background_start_opacity), rgba(0, 0, 0, $background_end_opacity));
			background: -moz-linear-gradient(rgba(0, 0, 0, $background_start_opacity), rgba(0, 0, 0, $background_end_opacity)); 
			background: -ms-linear-gradient(top, #eb5a47, transparent); 
			background: -o-linear-gradient(top, #eb5a47, transparent);
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity:1.0;
			
			@include break(mobile) {
				margin-top: 60px;
				width: 90%;
			}

			.pad {
				//padding: 15px;
			}
			p {
				padding: 0; margin: 0;
			}
		}
		
		.dropdown-menu {
			text-align: left;
			margin: 5px auto;
			width: 51%;
			@include outer-glow(10,5);
		}
		
		.hero-img {
			position: absolute;
			//background-size: contain;
			background-position: center bottom;
			background-repeat: no-repeat;
			left: 0; right: 0;
			top: 45px; bottom: 0px;
			z-index: 1;
			
			@include break(mobile) {
				background-position: center 140px;
			}
			
		}
	}	

	h2.large {
		font-size: 4em;
	}
	.gridlist-toggle {
		display: none;
	}
	
	ul.products {
		text-align: center;
		li.product-category {
			float: none;
			display: inline-block;
		}
	}
	
}
