body.page,
body.single-post {
	#logo {
		text-align: center;
	}
	
	#contentwrapper {
		background-color: white;
		
		h2 {
			text-align: left;
		}
		
		&:before {
			@include triangle(up,white,75,15);
		}
	}
}