body.single-product {
	
	#header_wrapper {
		.content_wrapper {
			position: relative;
			height: 800px;
			
			&.single-product {
				height: auto;
			}
			
			@include break(v-tablet) {
				width: 90%;
			}
			
		}
	}
	
	// SINGLE PRODUCT //
	.single-product {
		.header_right_column {
			@include col-last(11,20,0);
			padding: 0;
			color: white;
			
			h1 {
				margin: 0;
			}
			
			@include break(v-tablet) {
				
				width: 100%;
				float: none;
				padding-top: 30px;
				padding-bottom: 20px;
			}
		
		}
		
		.onsale {
			display: inline-block;
			color: white;
			padding:  0 15px 0 30px;
			font-style: italic;
			position: relative;
			line-height: 35px;
			//@include bevel();
			//@include trans-bg($blue,0.4);
			
			&:before {
				content:"J";
				font-family: 'ModernPictogramsNormal';
				font-style: normal;
				font-size: 1.5em;
				font-weight: 100;
				position: absolute;
				color: white;
				left: 7px; top: 2px;
			}
			
		}
		
		.the-content {
			margin: 15px 0 35px 0;
			p {
				color: white;
				font-size: 1.2em;
				font-weight: 100;
			}
			color: white;
		}
		
		ul.product-inventory-details {
			margin: 0; padding: 0;

			li {
				color: white;
				font-size: .8em;
				list-style-type: none;
				margin: 0; padding: 0;
				display: inline-block;
				&:first-child {
					margin-right: 30px;
				}
			}
		}
		
		.darken {
			//display: inline-block;
			.pad {
				padding: 0;
				//@include trans-bg(#000000,.2);
				@include border-radius(3px);
			}			
		}
		
		.hero-wrapper {
			position: relative;
		}
		
		.hero-img {
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: center bottom;
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 55%;
			//min-height: 520px;
			//@include col(1,2,0);
			
			img {
				//display: none;
			}
			
			@include break(v-tablet) {
				position: static;
				height: 300px;
				border-bottom: 1px solid darken($red,30%);
				/*
				background-size: 0;
				background-position: top center;
				position: static;
				//display: inline-block;
				padding: 25px;
				margin: 0 auto;
				text-align: center;
				@include border-radius(3px);
				@include inset_box_shadow($shadow_x:0px, $shadow_y:0px, $shadow_rad:2px, $shadow_in:2px, $shadow_color:rgba(0,0,0,0.2));
				
				img {
					display: block;
					width: 100%;
					height: auto;
					@include box-shadow($x:0,$y:0,$blur:5,$color:rgba(0,0,0,.5));
					@include border-radius(3px);
				}
*/
			}
		}
		
		button.button,
		a.button {
			border: 0;
			line-height: 66px;
			padding: 0 15px;
			//float: left;
			background: $red;
			//@include darkorlighttextshadow( #FFFFFF );
			@include text_shadow(2px,2px,2px,rgba(0,0,0,0.3));
			@include bevel();
			
			&.alt {
				margin-left: 0;
				float: none;
			}
			
			&.single_make_offer_button,
			&.single_add_to_cart_button {
				width: 100%;
				padding: 0;
				text-align: center;
				font-size: 1.8em;
				text-shadow: none;
				font-family: $f-primary;
				font-weight: 200;
				border: none;
				//@include bevel($strength:0.2);
				
				&:before {
					font-family: 'ModernPictogramsNormal';
					font-size: 2em;
					position: absolute;
					left: 5%;
					top: 20px;
					vertical-align: middle;
					content: "i";
					line-height: 32px;
					color: white;
					text-shadow: none;
					font-style: normal;
					@include break(mobile) {
						display: none;
					}
				}
				
				@include break(mobile) {
					font-size: 1.5em;
				}
				
			}
			
			&.single_make_offer_button {
				background: $dark-grey;
				@include text_shadow(1px, 1px, 1px, darken($dark-grey,20%));
				position: relative;
				@include border-bottom-right-radius(3px);
				&:before {
					content: "b";
					color: white;
				}
			}
			
			&.single_add_to_cart_button {
				position: relative;
				background: $yellow;
				@include text_shadow(1px, 1px, 1px, darken($yellow,20%));
				@include border-bottom-left-radius(3px);
				&:before {
					content: "i";
					color: white;
				}
			}
			
			&:hover {
				@include bevel($reverse:true);
			}
			
		}
		
		$price_row_height: 90px;
		$price_mobile_row_height: 66px;
		.price-block {
			@include border-top-right-radius(3px);
			@include trans-bg(#000000,.5);
			@include border-top-radius(3px);
			
			.price {
				padding-left: 25px;
				.amount {
					font-size: 4em;
					line-height: $price_row_height;
					font-weight: 100;
					
				}
			}
			@include break(mobile) {
				text-align: center;
			}
		}
		
		.cart-block {
			margin-bottom: 35px;	
			.price-block {
				@include col(3,4,0);
				@include break(mobile) {
					width: 100%; float: none;
				}
			}
			.quantity {
				@include col-last(1,4,0);
				@include break(mobile) {
					@include col(1,3,0);
				}
			}
			
			.add-to-cart-button-wrapper {
				@include col(1,2,0);
				@include break(mobile) {
					@include col-last(2,3,0);
				}
			}
			
			.offer-price-wrapper {
				@include col-last(1,2,0);
				@include break(mobile) {
					display: none !important;
				}
			}
			
			
			
		}
		
		form {
			margin: 0; padding: 0;
		}
		
		.quantity {
			display: inline-block;
			position: relative;
			@include border-top-right-radius(3px);
			&:before {
				content:"QTY";
				position: absolute;
				left: 5%;
				top: 50%;
				margin-top: -15px;
				display: block;
				width: 50px;
				height: 30px;
				
				@include break(mobile) {
					display: none;
				}
				
			}
			
			/* Disable input[type=number] buttons until the world is ready */
			input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
				display:none;
			}
			
			/* Hide buttons for opera */
			noindex:-o-prefocus, input[type=number] {
			    padding-right: 1.2em;
			}
			
			input.qty {
				height: $price_row_height;
				width: 100%;
				margin: 0;
				padding: 0;
				text-align: center;
				border: none;
				font-weight: 200;
				font-size: 3em;
				color: white;
				float: none;
				//@include inset_box_shadow( 0, 0, 0, 0, $c-secondary );
				@include trans-bg(#000000,0.5);
				@include border-top-right-radius(3px);
				
				@include break(mobile) {
					height: $price_mobile_row_height;
					font-size: 2em;
					text-align: center;
					margin-left: 20px;
					@include trans-bg(#000000,0.7);
				}
				
			}
			.plus, .minus {
				margin: 0;
				padding: 0;
				color: #FFFFFF;
				position: absolute;
				height: $price_row_height/2;
				line-height: ($price_row_height/2);
				width: 40px;
				border: none;
				right: -1px;
				//background: $dark-grey;
				background: darken(desaturate($red,15%),15%);
				@include darkorlighttextshadow( #FFFFFF );
				@include inset_box_shadow( 0, 0, 0, 0, $c-secondary );
				
				&:hover {
					background: $red;
				}
								
				@include break(mobile) {
					height: ($price_mobile_row_height/2);
					line-height: ($price_mobile_row_height/2);
					@include border-radius(0px);
				}
				
			}
			
			.plus {
				border-bottom: 1px solid white;
				top: 0;
				right: 0;
				@include border-top-right-radius(3px);
				@include break(mobile) {
					right: auto;
					left: 0;
					@include border-top-right-radius(0px);
				}
			}
	
			.minus {
				bottom: 0;
				right: 0;
				//@include border-bottom-right-radius(3px);
				@include break(mobile) {
					right: auto;
					left: 0;
				}
			}
		}
		
	}
	
}

.oyp_single_variation_wrap {
	display: inline-block !important;
}

ul.images {
	position: relative;
	overflow: visible;
	height: 100%;
	
	
	
	li {
		list-style-type: none;
		width: 100%;
		img {
			position: absolute;
			overflow: visible;
			top: 0;
			//width: 200px; height: 500px;
			z-index: 5;
			@include transitions();
			
			
			&:hover {
				margin-left: 10px;
			}
			
		}
		
		&.first img {
			left: 0px;
		}
		
		&.second img {
			z-index: 4;
			top: 70px;
			left: 20%;
		}
		
		&.third img {
			z-index: 3;
			top: 110px;
			left: 35%;
		}
		
		&.last img {
			z-index: 2;
			top: 150px;
			left: 50%;
		}
		
		&.upgrade-size {
			position: absolute;
			overflow: visible;
			z-index: 10;
			left: 50%;
			top: 50%;
			width: 180px; height: 100px;
			margin-top: -50px;
			margin-left: -90px;
			padding: 10px;
			color: white;
			text-align: center;
			@include trans-bg(#000000,.9);
			@include border-radius(4px);
			strong {
				display: block;
				text-align: center;
				//text-transform: lowercase;
				letter-spacing: -10px;
				font-size: 5em;
				font-weight: 100;
				line-height: 90px;
			}
			span {
				text-align: center;
				display: block;
				font-size: 1.5em;
				font-weight: 600;
				font-style: italic;
				color: $red;
				background: white;
				@include border-radius(3px);
			}
			
			@include break(v-tablet) {
				@include trans-bg(#000000,.5);
				top: 65px;
				right: 0;
				left: auto;
			}
			
			@include break(mobile) {
				@include trans-bg(#000000,.9);
				top: auto;
				bottom: 25px;
			}
			
		}
		
	}
	
	&.double {
		li {
			&.first img {
				left: auto;
				right: 45%;
			}
			
			&.second img {
				left: 50%;
			}
			
			&.upgrade-size {
				top: 65%;
			}
			
		}
	}
	
	&.single {
		li {
			&.first img {
				left: 20%;
			}
			&.upgrade-size {
				top: auto;
				bottom: 25px;
			}
		}
	}
	
	.icon {
		position: absolute;
		right: 15px; bottom: 15px;
		width: 70px; height: 40px;
		text-align: left;
		top: auto;
		left: auto;
		@include opacity(0);
		@include transitions();
	}
	
	&:hover {
		.icon {
			@include opacity(1);
		}
	}
}

.enlarged-img {
	position: absolute;
	width: 100%;
	top: 0; left: 0;
	bottom: 0; right: 0;
	text-align: center;
	z-index: 15;
	@include trans-bg(#000000,.8);
	@include border-radius(3px);
	
	img {
		//position: absolute;
	}
	
}

.product_attributes {
	margin: 0; padding: 35px 0;
	text-align: center;
	@include trans-bg(#000000,.3);
	li {
		margin: 0 7px 7px 0; padding: 0;
		list-style-type: none;
		//background: lighten($red,5%);
		display: inline-block;
		
		&.attribute {
			
		}
		
		strong {
			display: block;
			font-size: 2.3em;
			color: white;
			font-weight: 700;
			padding: 8px 10px;
			//line-height: 50px;
			white-space: nowrap;
		}
		
		span {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			font-weight: 400;
			//background: lighten($red,15%);
			color: lighten($red,20%);
			line-height: 10px;
			padding: 0 10px 8px 10px;
			text-transform: uppercase;
			@include border-bottom-radius(3px);
		}
		
		@include break(mobile) {
			@include col(1,2,2);
			&:nth-child(even) {
				@include col-last(1,2,2);
			}
			
			font-size: 80%;
			text-align: left;
		}
		
	}
}