body.woocommerce-cart,
body.woocommerce-checkout {
	#logo {
		text-align: center;
		img {
			margin: 0 auto;
		}
	}
	#contentwrapper {
		background: white;
		&:before {
			@include triangle(up,white,75,15);
		}
	}
	.left_content {
		width: 100%;
		form {
			//@include col(3,4,2);
		}
	}
	
	table.shop_table {
		border: 1px solid rgba(0,0,0,0.1);
		margin: 0px 0px 24px 0px;
		text-align:left;
		width: 100%;
		border-collapse: separate;
		border-spacing: 0;
		@include border-radius(5px);
		
		th {
			font-weight:bold;
			line-height: 18px;
			padding: 9px 12px;
			margin: 0;
		}
		td {
			border-top: 1px solid rgba(0,0,0,0.1);
			padding: 6px 12px;
			vertical-align: middle;
			margin: 0;
			small {
				font-weight: normal;
			}
		}
		tfoot td, tfoot th {
			font-weight:bold;
			border-top: 1px solid rgba(0,0,0,0.1);
		}
	}
	
	table.cart, 
	#content table.cart {
		.product-thumbnail {
			min-width: 32px;
		}
		img {
			width: 32px;
			height:auto;
		}
		th, td {
			vertical-align: middle;
		}
		a.remove {
			display:block;
			font-size:1.5em;
			height:1em;
			width:1em;
			text-align: center;
			line-height: 1;
			@include border-radius(100%);
			color: red;
			text-decoration: none;
			font-weight: bold;
		}
		a.remove:hover {
			background-color: red;
			color: #fff;
		}
		
		td.product-subtotal {
			font-weight: 800;
			color: black;
		}
		
		td.actions {
			text-align: right;
			.coupon {
				float:left;
				label {
					display:none;
				}
				.input-text {
					width: 80px;
					float:left;
					-webkit-box-sizing:border-box;
					-moz-box-sizing:border-box;
					box-sizing:border-box;

					//@include inset_box_shadow(0, 1px, 4px, 0, rgba(0,0,0,0.1));

					border: 1px solid darken( $c-secondary, 10 );
					padding: 6px 6px 5px;
					margin: 0 4px 0 0;
					outline: 0;
					//background: lighten($secondary, 5) none;
					line-height: 1em;
				}
			}
			.button.alt {
				float: right;
				margin-left: .25em;
			}
		}
		.button {
			line-height: 35px;
			font-size: 1em;
			font-style: normal;
			text-transform: uppercase;
		}
	}
	
	.cart-collaterals {
		//@include col-last(1,4,2);
		background: $subtle-background;
		background: #ffe9a5;
		padding: 25px;
		@include border-radius(5px);
		
		.cart_totals {
			table {
				th, td {
						padding: 5px;
					}
				tr.cart-subtotal {
			
				}
				tr.shipping {
					
				}
				tr.total {
					font-size: 1.5em;
					color: $red;
				}
			}
			
			h2 {
				color: black !important;
				padding-bottom: 10px !important;
			}
		}
		
		.calculated_shipping {
			
		}
		.shipping_calculator {
			h2 {
				margin-top: 25px;
				font-weight: 200;
			}
		}
		
		h2 {
			padding: 0; margin: 0;
			padding-bottom: 10px !important;
			font-size: 1.5em;
			color: black;
			font-weight: 200;
			a {
				font-size: 1em;
				color: black;
			}
		}
		
	}
	
	.actions {
		
	}
	
	.coupon {
		.button {
			background: $yellow;
		}
	}
	
	ul.woocommerce-error {
		padding: 25px;
		margin-bottom: 25px;
		@include trans-bg($red,0.2);
		li {
			color: black;
		}
	}
	
}

// CHECKOUT PAGE

.col2-set {
	@include col(1,2,5);
	
	@include break(v-tablet) {
		width: 100%;
		float: none;
		clear: both;
	}
	
	p {
		margin-bottom: 5px 0;
		&.validate-required {
			label {
				color: $red;
				font-weight: 400;
			}
		}
	}
	
	.input-text {
		margin: 5px 0;
	}
	
	#order_review_heading {
		clear: right;
	}
	.col-1 {
		@include col(1,2,5);
	}
	.col-2 {
		@include col-last(1,2,5);
	}
}

#order_review {
	@include col-last(1,2,5);
	background: $subtle-background;
	@include border-radius(3px);
	padding: 25px 2%;
	
	@include break(v-tablet) {
		width: 100%;
		float: none;
		clear: left;
	}
	
	table.shop_table {
		width: 100%;
		thead, tbody {
			background: white;
		}
		tfoot tr th, tfoot tr td {
			background: lighten(saturate($subtle-background,10%),2%);
		}
		tfoot tr.total {
			@include border-bottom-radius(5px);
			td, th {
				background: lighten($green,35%);
				color: $green;
				font-size: 1.5em;
				line-height: 50px;
			}
		}
	}
	
	#payment {
		ul.payment_methods {
			li {
				list-style-type: none;
				position: relative;
				padding-left: 20px;
				.input-radio {
					position: absolute;
					left: 0;
					top: 5px;
				}
				label {
					font-weight: bold;
				}
				.payment_method_bacs {
					padding: 0;
				}
			}
		}
	}
	
}