body.tax-product_cat {
	
	#header_wrapper {
		.content_wrapper {
			position: relative;
			//height: 800px;
			//width: 75%;
			
			@include break(v-tablet) {
				height: auto;
			}
			
			&.category-host {
				height: auto;
			}
			
		}
	}
	
	// PARENT CATEGORIES //
	.category-parent {
		.header_right_column {
			@include col-last(1,2,0);
			width: 100%;
			padding: 50px 0 100px;
			
			@include break(v-tablet) {
				@include col(1,1,0);
				padding: 0 0 30px;
			}
		}
		
		h1 {
			span {
				display: block;
			}
			margin-bottom: 0;
		}
		
		.darken {
			height: 150px;
			width: 65%;
			margin: 0 auto;
			
			@include break(v-tablet) {
				width: 100%;
			}
			
		}
		
		.dropdown-menu {
			margin-top: 10px;
			width: 65%;
			margin: 10px auto;
		}
		
		.hero-img {
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			left: 0; right: 0;
			top: 45px; bottom: -45px;
			height: 800px;
			//z-index: 2;
			@include break(v-tablet) {
				display: none;
			}
		}
		
		.gridlist-toggle {
			display: none;
		}
	}
	
	// HOST CATEGORIES //
	.category-host {
	
		h1 {
			span {
				display: block;
			}
			margin-bottom: 0;
		}
		
		.header_right_column {
			//@include col-last(1,4,2);
			
			background-repeat: no-repeat;
			padding: 0 0 100px 0;
			
			@include break(v-tablet) {
				width: 75%;
				margin: 0 auto;
				float: none;
				padding: 25px 0;
			}
		}
		
		.hero-wrapper {
			position: relative;
			
		}
		
		.hero-img {
			//position: absolute;
			//background-size: cover;
			background-size: 72%;
			background-repeat: no-repeat;
			//@include col(3,4,2);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0px;
			//left: 0; right: 0;
			//top: 150px; bottom: -45px;
			//height: 700px;
			
			@include break(v-tablet) {

				background-size: contain;
				background-position: top center;
				position: static;
				//height: 250px;
				padding: 28%;
			}
		}
		
		.spec-list-wrapper {
			
		}
		
		ul.spec-list {
			margin: 30px auto 0;
			padding: 40px 0;
			width: 60%;
			position: relative;
			
			&:before {
				border-top: 1px solid white;
				//width: 100%;
				display: block;
				content:"";
				width: 100%;
				margin: 0 auto;
				position: absolute;
				top: 0px;
				left: 50%;
				margin-left: -50%;
			}
			
			&:after {
				position: absolute;
				left: 50%;
				top: -17px;
				margin-left: -100px;
				content:"specifications";
				width: 200px;
				text-transform: uppercase;
				line-height: 35px;
				background: white;
				font-weight: bold;
				color: $red;
				text-align: center;
				@include border-radius(3px);
			}
			
			&:after {
				
			}
			
			@include break(v-tablet) {
				width: 100%;
			}
			
			li {
				@include col(1,2,5);
				//margin: 0 0 0 0; padding: 15px 0 15px 75px;
				list-style-type: none;
				color: #ffc0b8;
				font-size: 1.2em;
				line-height: normal;
				//border: 1px solid white;
				padding: 20px 0 20px 75px;
				@include border-radius(3px);
				
				&:nth-child(2n) {
					@include col-last(1,2,5);
				}
				
				&.icon {
					//color: white;
					&:before {
						top: 50% !important;
						margin-top: -20px;
						left: 0 !important;
					}
				}
				
				h4 {
					font-weight: 400;
					font-style: italic;
					font-size: 1.4em;
					margin: 0;
					padding: 0;
					color: white;
					text-transform: none;
					@include transitions();
				}
				
				&:hover {
					//@include trans-bg(#FFFFFF,.2);
					//@include bevel($strength:.2,$reverse:true);
					h4 {
						color: lighten($yellow,10%);
					}
				}
				
				@include break(v-tablet) {
					@include col(1,2,5);
					
					&:nth-child(even) {
						@include col-last(1,2,5);
					}
				}
				
				@include break(mobile) {
					width: 100%;
					float: none;
					&:nth-child(even) {
						width: 100%;
						float: none;
					}
				}
				
			}
		}
	}
	
	.social {
		text-align: center;
		padding: 25px 0;
	}
	
	.the-content {
		color: white;
		padding: 0 0 25px 0;
		text-align: center;
		font-size: 1.2em;
	}
	
	.scroll_to_continue {
		display: block;
		cursor: pointer;
		margin: 0 auto;
		padding: 12px 40px;
		background: white;
		text-align: center;
		position: relative;
		//letter-spacing: 1px;
		font-size: 2em;
		font-family: $f-secondary !important;
		color: $red;
		font-weight: 200;
		width: 60%;
		line-height: 40px;
		@include transitions();
		@include border-radius(3px);
		//@include text_shadow($shadow_x:0px, $shadow_y:0px, $shadow_rad:10px, $shadow_color:rgba(0,0,0,.5));
		span {
			color: #444;
		}

		&:hover {
			background: lighten($yellow,15%);
		}
		
		&:before {
			content: "";
			width: 15px; height: 15px;
			//background: red;
			position: absolute;
			top: 50%; left: 3%;
			margin-top: -7px;
			display: block;
			z-index: 1;
			@include triangle(down,$red,15,15);
		}
		
		&:after {
			content: "";
			width: 15px; height: 15px;
			//background: red;
			position: absolute;
			top: 50%; right: 3%;
			margin-top: -7px;
			display: block;
			z-index: 1;
			@include triangle(down,$red,15,15);
		}
				
		@include break(v-tablet) {
			width: 100%;
		}
		
		@include break(mobile) {
			display: none;
		}
		
	}
	
	/*
ul.products {
		text-align: center;
		li.product-category {
			float: none;
			display: inline-block;
		}
	}
*/
}
